@use lost;

.nickJrRow {
  lost-flex-container: row;

  .rowItem {
    lost-column: 1/2;
  }
}

.nickJrRow > .rowItem {
  lost-column: 1/2 2 50px;
}

.nickJrRow > .inner_section {
  margin-top: 0;
}

.rowOne {
  lost-flex-container: row;

  .videoItem {
    lost-column: 1/3 3 8px;
    video {
      max-width: 100%;
      width: 100%;
    }
  }
}

.nickLoopingVideo > .video-looping {
  margin-top: 0;
  margin-bottom: 0;
}

.rowTwo {
  lost-flex-container: row;

  .videoItem {
    lost-column: 1/2 2 99px;
    video {
      max-width: 100%;
      width: 100%;
    }
  }
}
