.svg-ae-logo {
	background: url("svg/sprite.css-86e9ce4b.svg") 99.34924078091106% 67.76119402985074% no-repeat;
}

.svg-ae-logo-dims {
	width: 191px;
	height: 100px;
}

.svg-carla-hall-logo {
	background: url("svg/sprite.css-86e9ce4b.svg") 34.0650406504065% 76.49536647009268% no-repeat;
}

.svg-carla-hall-logo-dims {
	width: 344px;
	height: 253px;
}

.svg-cartoon-network-logo {
	background: url("svg/sprite.css-86e9ce4b.svg") 60.316205533596836% 71.83544303797468% no-repeat;
}

.svg-cartoon-network-logo-dims {
	width: 309px;
	height: 176px;
}

.svg-cartoon-network-std-logo {
	background: url("svg/sprite.css-86e9ce4b.svg") 21.826280623608017% 89.21193573068095% no-repeat;
}

.svg-cartoon-network-std-logo-dims {
	width: 227px;
	height: 133px;
}

.svg-cinemax-logo {
	background: url("svg/sprite.css-86e9ce4b.svg") 0 54.37392795883362% no-repeat;
}

.svg-cinemax-logo-dims {
	width: 784px;
	height: 274px;
}

.svg-close-icon-circle {
	background: url("svg/sprite.css-86e9ce4b.svg") 65.91060707138092% 79.41391941391942% no-repeat;
}

.svg-close-icon-circle-dims {
	width: 75px;
	height: 75px;
}

.svg-cnbc-logo {
	background: url("svg/sprite.css-86e9ce4b.svg") 37.29420186113099% 89.00763358778626% no-repeat;
}

.svg-cnbc-logo-dims {
	width: 177px;
	height: 130px;
}

.svg-crackle-logo {
	background: url("svg/sprite.css-86e9ce4b.svg") 0 0 no-repeat;
}

.svg-crackle-logo-dims {
	width: 1078px;
	height: 204px;
}

.svg-email-icon-circle {
	background: url("svg/sprite.css-86e9ce4b.svg") 70.91394262841895% 79.41391941391942% no-repeat;
}

.svg-email-icon-circle-dims {
	width: 75px;
	height: 75px;
}

.svg-facebook-icon-circle {
	background: url("svg/sprite.css-86e9ce4b.svg") 62.37491661107405% 38.97435897435897% no-repeat;
}

.svg-facebook-icon-circle-dims {
	width: 75px;
	height: 75px;
}

.svg-glow-logo {
	background: url("svg/sprite.css-86e9ce4b.svg") 0 76.81895093062606% no-repeat;
}

.svg-glow-logo-dims {
	width: 419px;
	height: 258px;
}

.svg-hamburger {
	background: url("svg/sprite.css-86e9ce4b.svg") 97.02457956015525% 24.366197183098592% no-repeat;
}

.svg-hamburger-dims {
	width: 28px;
	height: 20px;
}

.svg-hbo-gray-logo {
	background: url("svg/sprite.css-86e9ce4b.svg") 93.57638888888889% 27.330173775671405% no-repeat;
}

.svg-hbo-gray-logo-dims {
	width: 422px;
	height: 174px;
}

.svg-hbo-white-logo {
	background: url("svg/sprite.css-86e9ce4b.svg") 93.57638888888889% 41.07424960505529% no-repeat;
}

.svg-hbo-white-logo-dims {
	width: 422px;
	height: 174px;
}

.svg-hulu-logo {
	background: url("svg/sprite.css-86e9ce4b.svg") 84.35054773082942% 58.19672131147541% no-repeat;
}

.svg-hulu-logo-dims {
	width: 296px;
	height: 98px;
}

.svg-ilny-gray-logo {
	background: url("svg/sprite.css-86e9ce4b.svg") 0 100% no-repeat;
}

.svg-ilny-gray-logo-dims {
	width: 294px;
	height: 274px;
}

.svg-ilny-logo {
	background: url("svg/sprite.css-86e9ce4b.svg") 61.25% 54.37392795883362% no-repeat;
}

.svg-ilny-logo-dims {
	width: 294px;
	height: 274px;
}

.svg-info-icon-circle {
	background: url("svg/sprite.css-86e9ce4b.svg") 60.907271514342895% 79.41391941391942% no-repeat;
}

.svg-info-icon-circle-dims {
	width: 75px;
	height: 75px;
}

.svg-instagram-icon-circle {
	background: url("svg/sprite.css-86e9ce4b.svg") 50.900600400266846% 79.41391941391942% no-repeat;
}

.svg-instagram-icon-circle-dims {
	width: 75px;
	height: 75px;
}

.svg-more-icon-circle {
	background: url("svg/sprite.css-86e9ce4b.svg") 62.37491661107405% 33.47985347985348% no-repeat;
}

.svg-more-icon-circle-dims {
	width: 75px;
	height: 75px;
}

.svg-phone-icon-circle {
	background: url("svg/sprite.css-86e9ce4b.svg") 62.37491661107405% 27.985347985347985% no-repeat;
}

.svg-phone-icon-circle-dims {
	width: 75px;
	height: 75px;
}

.svg-syfy-logo {
	background: url("svg/sprite.css-86e9ce4b.svg") 65.20223152022315% 14.945054945054945% no-repeat;
}

.svg-syfy-logo-dims {
	width: 140px;
	height: 75px;
}

.svg-tnt-logo {
	background: url("svg/sprite.css-86e9ce4b.svg") 63.56220258327668% 20.867614061331338% no-repeat;
}

.svg-tnt-logo-dims {
	width: 103px;
	height: 103px;
}

.svg-tru-tv-logo {
	background: url("svg/sprite.css-86e9ce4b.svg") 98.00285306704707% 56.88273852876912% no-repeat;
}

.svg-tru-tv-logo-dims {
	width: 172px;
	height: 67px;
}

.svg-twitter-icon-circle {
	background: url("svg/sprite.css-86e9ce4b.svg") 55.90393595730487% 79.41391941391942% no-repeat;
}

.svg-twitter-icon-circle-dims {
	width: 75px;
	height: 75px;
}

.svg-usa-logo {
	background: url("svg/sprite.css-86e9ce4b.svg") 97.57412398921834% 49.46543121881682% no-repeat;
}

.svg-usa-logo-dims {
	width: 90px;
	height: 37px;
}

.svg-we-tv-logo {
	background: url("svg/sprite.css-86e9ce4b.svg") 100% 0 no-repeat;
}

.svg-we-tv-logo-dims {
	width: 496px;
	height: 346px;
}

.svg-westminster-logo {
	background: url("svg/sprite.css-86e9ce4b.svg") 84.27672955974843% 69.7924673328209% no-repeat;
}

.svg-westminster-logo-dims {
	width: 302px;
	height: 139px;
}

.svg-westminster-yellow-logo {
	background: url("svg/sprite.css-86e9ce4b.svg") 0 20.198019801980198% no-repeat;
}

.svg-westminster-yellow-logo-dims {
	width: 935px;
	height: 430px;
}

.svg-yahoo-logo {
	background: url("svg/sprite.css-86e9ce4b.svg") 89.53488372093024% 51.293422025129345% no-repeat;
}

.svg-yahoo-logo-dims {
	width: 370px;
	height: 87px;
}

