@import 'base';
:global {
  .employee-card {
    text-align: center;
    
    @include backface-visibility(hidden);
    position: relative;
    overflow: hidden;
    &-inner {
      padding-top: 60px;
      background-image: url("https://s3.amazonaws.com/weareglow-assets/employee-photos/Employee_Card_Shape.svg");
      background-size: cover;
      background-position: top center;
      height: 168px;
      @include position(absolute, null null 0 0);
      @include transform(translateY(200px));
      @include transform-origin(top center);
      width: 100%;
      @include media($large-xl-screen) {
        padding-top: 70px;
      }
      &-wrap {
        max-width: 95%;
      }
    }

    .employee-name {
      font-family: $gt;
      font-weight: bold;
      font-size: rem(36);
      letter-spacing: -0.025em;
      color: $radical-red;
      @include media($large-xl-screen) {
        font-size: rem(26);
      }
    }

    .employee-position {
      margin-top: -5px;
      font-family: $domaine;
      font-style: italic;
      font-size: rem(20);
      color: shade($storm-dust, 50%);
      font-weight: normal;
      @include media($large-xl-screen) {
        font-size: rem(16);
      }
    }

    img {
      cursor: pointer;
      bottom: -6px;
      position: relative;
    }

    .img-roll {
      position: absolute;
      left: 0;
      bottom: 0px;
      visibility: hidden;
    }
  }
}
