:global {
  @import 'base';
  .project {
    cursor: pointer;
    @include media($under-small) {
      // @include full-span();
      lost-waffle: 1;
    }
    @include media($small-screens) {
      // @include one-half();
      lost-waffle: 1/2;
    }
    @include media($medium-laptop) {
      // @include one-half();
      lost-waffle: 1/2;
    }
    @include media($above-laptop) {
      // @include one-third();
      lost-waffle: 1/3;
    }
    // margin-bottom: 0 !important;
  }

  .slides-container {

  }
}

.testMe {
  background: blue;
}
