.home-desktop {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
  top:0;
  left:0;
}

.home-container {

}

.home {
  height: 100%;
  width: 100%;
}

.homeContainerDesktop {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}
