.counter {
  font-weight: bold;
}

.counter--green {
  color: rgb(25,200,25);
}

.counter--red {
  color: red;
}

.duck {
  display: block;
  width: 100%;
  margin-top: 1.5rem;
}

.container {
  lost-center: 1140px;
        
  margin-top: 200px;
  border: 2px solid black;
  font-family: Domaine;
}

.text-center {
  text-align: center;
}


