:global {
  #featured-work {
    margin-top: 60px;
  }
  .project {
    &.mobile {
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
    }
  }
  .mobile-project-wrap {
    width: var(--sizing-outer-width);
    margin: auto;
     }
  .view-button {
    color: white;
    margin: auto;
    text-align: center;
    position: relative;
    min-height: 83px;
    font-size: 1em;
    font-family: var(--primary-font-family);

    div {
      padding: 0.75em 1.5em 0.75em 1.5em;
      line-height: 1;
      width: 186px;
      height:40px;
      border-radius: 3px;
      left: center;
      top: center;
    }
  }
}

.mobile_home_width {
  width: var(--sizing-outer-width);
  margin: auto;
}

.mobile_project_wrap, 
.home_mobile_image,
.about_mobile,
.clients_mobile_wrap {
  composes: mobile_home_width;
}

.home_mobile {
  background: white;
  position: relative;
  text-align: center;
  &_image {
    min-height: 47%;
    /* background-position: center center; */
    /* background-image: url('https://s3.amazonaws.com/weareglow-assets/assets/mobile-home.jpg'); */
    /* background-size: cover; */
  }

}

.clients_mobile_wrap {
  svg,
  div {
    min-height: 70px;

    @media(--md) {
      min-height: 150px;
    }

    @media(--md-down) {
      min-height: 110px;
    }

    @media(--sm-down) {
      min-height: 70px;
    }
  }
}

.inner_wrap {
  margin-top:2%;
  height: 41%;
  width: 100%;
  position: relative;

  .featured-headline {
    font-size: 15vw;
  }

  p {
    color: var(--color-tin);
  }

}

.scroll_for_more {
  margin-top: 0;
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: 1.5em;
  width: 100%;
  color: var(--color-radical-red);
  /* position: absolute; */
  font-weight: 600;
}

.clients_mobile {
  background: var(--color-light-gray);
  &_wrap {
    padding-top: 40px;
    padding-bottom: 40px;
    composes: mobile_home_width;
  }
}

.services_button {
  min-height: 60px;
  margin-top: 2.5em;
  a {
    color: white;
  }
  button {
    background: var(--color-radical-red);
    left: center;
  }
}

.about_glow {
  composes: mobile_home_width;
  margin-top: 40px;
  .header-image {
    margin-bottom: 20px;
  }
  .featured-headline {
    text-align: center;
  }

  .contact-bucket {
    margin-top: 15px;
  }
  h2 {
    margin-bottom: 15px;
  }
  p {
    font-size: 15px;
    font-weight: 300;
    font-family: var(--primary-font-family);
    line-height: 1.5;
    color: var(--color-dove-gray);
    text-align: center;
  }
}

.clients.mobile {
  .headline-wrap {
    margin-bottom: 1em;
  }
}

.headline {
  composes: headline from 'styles/mixins.css';
  width: 100%;
  text-align: center;
  margin-bottom: 0.5em;
}
