@import 'base';

.contact-form {
  margin-bottom: em(25);
  position: relative;

  input {
    overflow: visible;
    position: relative;
    margin-bottom: 0;
  }

  label {
    padding-left: 0.5em;
    color: $iron;
  }

  .contact-link {
    font-weight: normal;
  }

  textarea {
    margin-top: 40px;
    width: 100%;
    min-height: 75px;
    @include placeholder {
      color: $iron;
      font-size: 1.2em;
    }
  }

  button {
    //background: transparent;
    font-family: $gt;
    font-size: 1.25em;
    border-radius: 0;
    font-weight: normal;
    color: white;
  }

  .submit-btn-ctr {
    text-align: right;
    @include media($xsmall-medium-screen) {
      width: 100%;

      button {
        width: 100%;
      }
    }
  }

  .message {
    visibility: hidden;
    opacity: 0;
    text-align: center;
    @include center(xy);
    width: 100%;
  }
}