@import 'base';

$newsletter-height: em(50);

.newsletter {
  position: relative;
  @include outer-container(100%);
  .contact-headline {
    margin-bottom: 0.5em !important;
   text-align: center;
    @include media($medium-screen-up) {
      text-align: left;
    }
  }

  input {
    width: 95%;
    height: $newsletter-height;
    @include media($xsmall-medium-screen) {
      width: 100%;
    }
  }
  button {
    width: 20%;
    background: $radical-red;
    color: white;
    font-size:1.25rem;
    border-radius: 0;
    text-align: center;
    position: relative;
    .inner-btn {
      @include center(xy);
    }
  }
  .message {
    visibility: hidden;
    opacity: 0;
    text-align: center;
    button {
      color: white;
    }

    .message-button-ctr {
      position: relative;
      @include outer-container(50%);
      button {
        width: 100%;
      }
    }
  }

  .form, .newsletter-form {

    div {
      display: inline-block;
      width: 100%;
      @include media($medium-screen-up) {
        width: 70%;
      }
    }

    button {
      width:100%;
      @include media($medium-screen-up) {
        width: 30%;
      }
    }

    input {
    }
  }

}