.cls1 {
  fill: #f12d5c;
}
.cls2 {
  fill: #fff;
}

.weAreGlowSvg {
  overflow-x: hidden;
  overflow-y: visible;
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.button {
  cursor: pointer;
  background: #e6e6e6;
  width: 100px;
  text-align: center;
  margin: auto;
  margin-bottom: 2px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.introAnimation {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  top: 0;
  left: 0;
}

.introAnimationInner {
  position: relative;
  width: 100%;
  height: 100%;
}

