.svg-ae-dims {
	width: 190.6px;
	height: 99.4px;
}

.svg-carla-hall-dims {
	width: 343.37px;
	height: 252.6px;
}

.svg-cartoon-network-dims {
	width: 308.5px;
	height: 174.9px;
}

.svg-cartoon-network-alternate-dims {
	width: 226.3px;
	height: 132.2px;
}

.svg-cinemax-dims {
	width: 782.59px;
	height: 273.3px;
}

.svg-cnbc-dims {
	width: 175.72px;
	height: 129.11px;
}

.svg-crackle-dims {
	width: 1077.4px;
	height: 203.3px;
}

.svg-glow-dims {
	width: 418.6px;
	height: 257.2px;
}

.svg-hbo-dims {
	width: 422px;
	height: 174px;
}

.svg-hbo-alternate-dims {
	width: 422px;
	height: 174px;
}

.svg-hulu-dims {
	width: 295px;
	height: 97.2px;
}

.svg-hulu-logo-dims {
	width: 343.37px;
	height: 252.6px;
}

.svg-ilny-dims {
	width: 293.54px;
	height: 272.6px;
}

.svg-ilny-alternate-dims {
	width: 293.54px;
	height: 272.6px;
}

.svg-syfy-dims {
	width: 139.1px;
	height: 75px;
}

.svg-tnt-dims {
	width: 125.2px;
	height: 125.2px;
}

.svg-tru-tv-dims {
	width: 170.8px;
	height: 66.1px;
}

.svg-usa-dims {
	width: 88.5px;
	height: 36.66px;
}

.svg-we-tv-dims {
	width: 495.7px;
	height: 344.7px;
}

.svg-westminster-dims {
	width: 1868.2px;
	height: 859.4px;
}

.svg-westminster-alternate-dims {
	width: 934.7px;
	height: 429.7px;
}

.svg-yahoo-dims {
	width: 369.8px;
	height: 85.8px;
}

