@import 'base';
:global {

  #our-clients {
    .headline-wrap {
      text-align: center;
      display: block;
      width: 100%;
      //@include media($xsmall-medium-screen) {
        //  font-size: 0.8em;
      //}
      h2 {
        display: block;
      }
    }
    .subtitle {
      font-style: italic;
      margin-bottom: em(40);
      div {
        &:first-of-type {
          margin-right: 0.5rem;
        }
        display: inline-block;
      }
    }
  }

  .client-logos-row {
    @include cst-row();
    .client-logo-container {
      text-align: center;
      position: relative;
      margin-bottom: em(20);

      @include media($under-medium) {
        lost-column: 1/4;
      }

      &:nth-of-type(13), &:last-of-type {
        display: none;
      }

      @include media($medium-large-screen) {
        lost-column: 1/4;
      }

      @include media($large-screen-up) {
        lost-column: 1/7;
      }

      @include media($large-screen-up) {
        &:nth-of-type(13), &:last-of-type {
          display: inline-block;
        }
      }

      svg {
        width: 100%;
        max-height: em(29);
        @include media($small-screen) {
          max-height: em(29);
        }
        @include media($small-medium-screen) {
          max-height: em(40);
        }
        @include media($medium-large-screen) {
          max-height: em(47);
        }
        @include media($large-screen-up) {
          max-height: em(54);
          max-width: em(160);
        }
      }
    }
  }
}
