@use lost;

.clientsLogoRow {
  lost-flex-container: row;
}

.clientLogoContainer {
  text-align: center;
  position: relative;
  lost-column: 1/3;
  max-height: 80px;
  margin-bottom: 3%;

  svg {
    width: 80%;
    height: 100%;
    max-height: 80px;
    max-width: 146px;
  }
}

.ourClients {
  &_headlineWrap {
    text-align: center;
    margin-bottom: 3em;
  }

  &_subtitle {
    font-style: italic;
    div {
      &:first-of-type {
        margin-right: 0.5rem;
      }
      display: inline-block;
    }
  }
}

/* LARGE SCREEN UP MEDIA QUERIES */
@media(--xl) {
  .clientLogoContainer {
    lost-column: 1/7;
  }
}

/* MEDIUM TO LARGE SCREEN */
@media(--lg-down) {
  .clientLogoContainer {
    lost-column: 1/7;
  }
}

/* MEDIUM TO SMALL SCREEN */

@media(--md-down) {
  .clientLogoContainer {
    lost-column: 1/4; 
    &:nth-of-type(13), &:last-of-type {
      display: none;
    }
  }
}


/* SMALL SCREEN AND DOWN*/
@media(--sm-down) {
  .clientLogoContainer {
    margin-bottom: 4%;
    lost-column: 1/3;
  }
}

