@use lost;

.client {
  lost-column: 1/5 5 20px;
  lost-flex-container: column;
  position: relative;
  margin-bottom: 2em;

  /*&:nth-of-type(11),
  &:nth-of-type(12),
  &:nth-of-type(13),
  &:nth-of-type(14),
  &:nth-of-type(15), {
    margin-bottom: 0;
  }*/

  @media (--xl-screen-down) {
    lost-column: 1/3 0 0;
    margin-bottom: 2em;
    &:nth-of-type(13),
    &:nth-of-type(14),
    &:nth-of-type(15) {
      margin-bottom: 0;
    }
  }
  @media (--md-down) {
    margin-bottom: 1em;
  }
}

.mobile_logo {
  lost-column: 1/4 4 2%;
  lost-flex-container: column;
  position: relative;
  margin-bottom: 2em;

  &:nth-of-type(9),
  &:nth-of-type(10),
  &:nth-of-type(11),
  &:nth-of-type(12) {
    margin-bottom: 0;
  }

  @media (--xl-screen-down) {
    lost-column: 1/3 0 0;
    margin-bottom: 0.5em;
    &:nth-of-type(10),
    &:nth-of-type(11),
    &:nth-of-type(12) {
      margin-bottom: 0;
    }
  }
}

.slide_logo {
  lost-column: 1/5 5 20px;
  lost-flex-container: column;
  position: relative;
  margin-bottom: 5rem;

  /*&:nth-of-type(9),
  &:nth-of-type(10),
  &:nth-of-type(11),
  &:nth-of-type(12) {
    margin-bottom: 0;
  }*/

  @media (--lg-screen-down) {
    lost-column: 1/3 0 0;
    margin-bottom: 3rem;
    &:nth-of-type(13),
    &:nth-of-type(14),
    &:nth-of-type(15) {
      margin-bottom: 0;
    }
  }

  @media (--sm-down) {
    margin-bottom: 1.5em;
  }

  @media (max-height: 600px) {
    margin-bottom: 0;
  }

  @media(max-height: 835px) {
    max-height: 50px;
    margin-bottom: 4rem;
  }
  @media(max-height: 620px) {
    max-height: 50px;
    margin-bottom: 2rem;
  }
  @media(max-height: 400px) {
    margin-bottom: 0;
  }

}

.row {
  width: 100%;
  lost-flex-container: row;
}

.client_svg {
  width: 70%;
  max-height: 90px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: visible;

  @media(--xs-down) {
    width: 65%;
  }

  @media(--xl-screen-down) {
    width: 65%;
  }

  @media(--lg-screen-down) {
    max-width: 80px;
  }

  @media(max-height: 600px) {
    max-height: 70px;
  }

  @media(max-height: 835px) {
    max-height: 90px;
  }
}
