:global {
  #about {
    margin-bottom: 60px;
    lost-flex-container: row;
    @include clearfix;
    @include media($under-large) {
      lost-flex-container: column;
    }
  }
  .about {

    &-left {
      lost-column: 2.7/10 0 0;
      height: auto;
      @include media($under-large) {
        display: none;
        lost-row: 0 column;
      }
    }

    &-center {
      lost-column: 4.6/10 0 0;
      @include clearfix;
      @include media($under-large) {
        lost-row: 1 0 auto;
        lost-center: em(820);
        height: auto;
        @include order(2);
        margin-left: auto !important;
        margin-right: auto !important;
      }
    }

  }
  .study-headline {
    @include headline($desktopSize: 5.625em);
    margin-bottom: 30px;
    @include media($medium-screen-up) {
      margin-bottom: 60px;
    }
  }
  .study-content {
    position: relative;
    @include size(100%);
    h1, h2 {
      text-align: center;
      color: white;
    }
    p {
      margin-left:auto;
      margin-right: auto;
      text-align: left;
      font-family: $gt;
      font-weight: 300;
      // color: white;
      line-height: 2;
      font-size: 1.15em;
      -webkit-font-smoothing: antialiased;

      @include media($medium-screen-up) {
        font-size: 1.3em;
        line-height: 2.4rem;
      }
      .link {
        color: #c03d3b;
      }
    }
  }

  .copy-inner {
    margin-top: em(40);
    margin-bottom: em(40);


    p {
      margin-top: 1em;
    }

    p:first-of-type {
      margin-top: 0;
    }
    @include media($xsmall-large-screen) {
      margin-top: 40px;
      margin-bottom: 40px;
      p {
        max-width: $outer-width;
      }
    }

    @include outer-container(820px);

    &.end {
      margin-top: 0;
    }
  }

  .social {
    margin-bottom: em(140);
    width: 100%;

    h1 {
      margin-top: 0;
    }
  }

  .study-top-mask {
    width: 100%;
    height: 100%;
  }

  .case-study-single.wrapper {
    @include position(absolute, 0 null null 0);
    overflow-x: hidden;
    .page-title {
      font-size: 3em;
      @include media($small-screens) {
        font-size: 4em !important;
      }
      @include media($medium-screens) {
        font-size: 4em !important;
      }
      @include media($large-screen-up) {
        font-size: 6em !important;
      }
      // max-width: $outer-width;
    }
  }

  .study-top-mask-container {
    height:240px;
  }

  .img-ctr {
    @include outer-container(900px);
    @include padding(null 2.5% null 2.5%);
  }

  .sound-cloud {
    @include span-columns(6);
    @include omega(2n);
    img {
      width: 100%;
    }
  }

  .end {
    position: relative;
    svg {
      display: block;
      height: 100%;
    }
    .copy {
      width: 100%;
      height: 100%;
      @include clearfix;
    }
    .copy-inner {
      position: relative;
      top: -400px;
      margin-bottom: -300px;
      @include media($xsmall-medium-screen) {
        top: -200px;
        margin-bottom: -100px;
      }
      h2 {
        margin-top: rem(20);
        @include media($medium-screen-up) {
          margin-top: rem(30);
          margin-bottom: rem(30);
        }
      }
      img {
        width: 100%;
      }
    }
  }

  .end-shape {
    @include size(100%);
    display: block;
  }

  .media {
    position: relative;

    p {
      margin-bottom: 100px;
    }
  }

  .full-width-img {
    @include span-columns(12);
    margin-bottom: 30px;
    img {
      width: 100%;
    }
  }

  .half-width-img {
    @include span-columns(6);

    img {
      width: 100%;
    }
  }

  .end-img {
    max-width: 90%;
    margin: auto;
  }

  .study-overlay {
    @include size(100%);
    position: absolute;
    top: 0;
    opacity: 0;
    background: rgba(0,0,0,0.5);

    .overlay-info {
      @include center(xy);
      top: 30%;
      width: 100%;

      @include media($medium-screen-up) {
        top: 50%;
      }
      .study-headline-subtitle {
        color: white;
        font-family: $domaine;
        text-align: center;
        font-weight: bold;
        font-size: 1em;
        position: relative;

        @include media($medium-screen-up) {
          font-size: 2em;
        }
      }
    }
  }

  .case-bg-img {
    @include size(100%);
    @include center(xy);
  }

  .full-width-bg {
    width: 100%;
    min-height: 50vh;
    background-size: cover;
    background-position: center center;
  }

  .video-block {
    position: relative;
    margin-top: em(80);
    lost-center: em(820);
    min-height: 600px;
    background: #e8e8e8;
    overflow: hidden;
    video {
      @include center(xy);
      z-index: 19;
    }
    .play-button-outer {
      width: em(150);
      height: em(80);
      @include center(xy);
      z-index: 20;
      background: white;
      border-radius: 5px;
    }
    .play-button-inner {
      @include size(100%);
      cursor: pointer;
      position: relative;
      .inner-ctr-wrap {
        width: em(142);
        height: em(72);
        @include center(xy);
        background: #14e06e;
        &:hover {
          background: shade(rgb(19,224,110), 20%);
        }
        border-radius: 5px;
      }
      .inner-ctr {
        position: relative;
        @include size(100%);
        .inner-btn {
          width: 20px;
          height: 28px;
          @include center(xy);
          svg {
            fill: white;
          }
        }
      }
    }

    .controls {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 20;
      opacity: 0;
      visibility: hidden;
      div.pause-button-ctr {
        cursor: pointer;
        float: right;
        svg {
          &:hover {
            background: rgba(255,255,255,0.4);
          }
        }
      }
      div.stop-button-ctr {
        cursor: pointer;
        float: right;
        svg {
          &:hover {
            background: rgba(255,255,255,0.4);
          }
        }
      }

      svg {
        @include size(40px);
        fill: #14e06e;
      }
    }
  }

  .video-campaign, #social {
    margin-top: em(40);
  }

  .image-container-large {
    lost-center: em(1100);
    lost-flex-container: row;
    @include media($under-medium) {
      lost-center: $outer-width;
    }

    div {
      lost-column: 1/3;
      @include media($xsmall-screens) {
        lost-column: 1;
        margin-bottom: em(20);
      }
    } 
  }

  .image-large {
    lost-center: em(820);
    background-position: center center;
    img {
      max-width: $outer-width;
      margin: auto;
    }
  }
  .social-strategy {
    padding-top: em(40);
  }

  .end {
    // position: absolute;
    // bottom: -5%;
    width: 100%;
    z-index: 1;
    .img-single {
      img {
        display: block;
        margin: auto;
      }
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .img-single {
    margin: auto;
    max-width:  820px;
    margin-bottom: 1em;
    @include media($under-medium) {
      max-width: 85%;
    }
    position: relative;
    z-index: 2;
  }

  .img-triple {
    lost-flex-container: row;
    lost-center: 58%;
    position: relative;
    z-index: 2;
    div {
      lost-column: 1/3;
    }
  }
  .strategy, .media-campaign {
    position: relative;
  }
}


