@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .case-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

:global {
  .project-intro {
    .project-image {
      cursor: auto;
      &.link {
        cursor: pointer;
      }
      position: relative;
      overflow: hidden;
      img {
        @include size(100%);
      }
    @include aspect-ratio(835px, 441px); 
    }

    .project-overlay {
      @include size(100%);
      background-color: rgba(255, 255, 255, 0.3);
      @include position(absolute, null null 0 0);
      visibility: hidden;
      opacity: 0;
    }

    &.mobile {
      margin-bottom: 10px;
    }
  }
  .shape {
    background-image: url("https://s3.amazonaws.com/weareglow-assets/assets/work-shape.svg");
    background-size: cover;
    background-position: top center;
    position: fixed;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    @include backface-visibility(hidden);
    @include transform(scaleY(0));
    z-index: 1;
  }

  .project-info {
    text-align: center;
    z-index: 11;
    width: 100%;
    cursor: pointer;
    @include media($large-screen-up) {
      font-size: 1.3em;
    }
    &-inner {
      position: relative;
      display: inline;
    }
  }

  //TYPOGRAPHY

  .project-info {
    position: relative;
    text-align: center;
    padding-top: 1em;

    .project-title, .tags {
      @include backface-visibility(hidden);
      @include transform(translate(0,0,0.1));
    }

    .client-name {
      @include backface-visibility(hidden);
      font-family: $gt;
      font-weight: bold;
      font-size: em(24);
      color: $tin;
      line-height: 1;
    }

    .sep {
      @include backface-visibility(hidden);
      font-weight: 300;
      color: $tin;
      .roll {
        font-size: em(36);
        color: $radical-red;
      }
    }

    .project-name {
      @include backface-visibility(hidden);
      font-family: $domaine;
      font-weight: normal;
      font-size: em(20);
      letter-spacing: 0.015em;
      color: $tin;

      .roll {
        font-size: em(36);
        color: $radical-red;
      }
    }

    div.tags {
      @include backface-visibility(hidden);
      font-family: $gt;
      font-weight: 300;
      color: lighten($tin, 10%);
      font-size: em(18);

      .roll {
        font-size: em(28);
      }
      span {
        &:after {
          content: ', ';
        }
        &:last-of-type {
          &:after {
            content: '';
          }
        }
      }
    }
  }

  .project {
    position: relative;
    padding: 0;

    .project__image {
      position: relative;
      left: 50%;
      display: block;
      height: 100%;
      @include transform(translateX(-50%));

    }

    .project__container {
      @include position(fixed, 0 null null 0);
      overflow-x: hidden;
      overflow-y: auto;
      @include size(100%);
      z-index: 11;
      -webkit-transform: translate3d(0, 0, 0);
      /* prevents flicker */

      -webkit-overflow-scrolling: touch;

      &.closed {
        position: relative;
      }
    }
    // @include media($large-screen-up) {
    //   @include span-columns(12);
    //   @include omega(2n);
    // }
    // @include span-columns(12);
    // @include omega();
  }

  .contact-block {
    position: relative;

    .project-intro {
      height: 80%;
      border: 2px solid $radical-red;
    }

    &-inner {
      @include center(y);
    }
    text-align: center;

  }
  .mobile-intro-info {
    text-align: center;
    color: white;


    .client-name {
      font-weight: bold;
      font-family: $gt;
      font-size: rem(19);
    }

    .project-name {
      font-family: $domaine;
      font-weight: 300;
      font-size: rem(19.5);
    }

    p {
      font-family: $gt;
      font-size: rem(14);
      color: white;
      line-height: 1.3;
    }

  }

  .project {

    &-intro-header {
      margin-bottom: 13px;
    }
    &.mobile {
      @extend %mob-home-padding;
      padding-top: 40px;
      padding-bottom: 10px;
    }

  }

  .view-button {
    color: white;
    margin: auto;
    text-align: center;
    position: relative;
    min-height: 83px;
    font-size: rem(15);
    font-family: $gt;
    div {
      width: 150px;
      height:33px;
      @include padding(5px 5px 5px 5px);
      border-radius: 3px;
      @include center(xy);
    }
  }

  .case-bg {
    // @include media($xsmall-screen) {
    //   min-height: 150px;
    // }
    // @include media($small-medium-screen) {
    //   min-height: 250px;
    // }
    // @include media($medium-laptop) {
    //   min-height: 300px;
    // }
    // @include media($above-laptop) {
    //   min-height: 250px;
    // }


    @include backface-visibility(hidden);
    svg {
      display: block;
    } 
  }

  .view-case-study {
    cursor: pointer;
  }

}
