@use lost;

.accolades {
  margin-top: 30px;
}
.about_content_module {
  lost-flex-container: row;
  width: 100%;
  @media(max-width: 1120px) {
    padding: 0 30px 0 30px;
  }
}

.about {
  lost-column: 740/1101;

  p {
    padding-right: 12%;
  }
  @media(max-width: 1100px) {
    p {
      padding-right: 0px;
    }
  }

  @media(--md-down) {
    lost-column: 1 0 0;
  }
}

.services {
  lost-column: 180/1101 0 0;
  @media(--md-down) {
    lost-column: 2/3;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-right: 18%;
    p {
      display: inline-block;
      padding-right: 10px;
      &:after {
        content: ',';
      }
      &:last-of-type {
        &:after {
          content: '';
        }

      }
    }
  }
  @media(--xs-down) {
    lost-column: 1/2;
    margin-top: 20px;
    margin-bottom: 0px;
    p {
      display: block;
      padding-right: 0;
      &:after {
        content: '';
      }
    }
  }
}

.share, .services {
  p {
    font-weight: 300;
  }
}
.share {

  lost-column: 140/1101 0 0;
  text-align: right;
  a:hover {
    text-decoration: underline;
  }
  h1 {
    text-align: right;
    @media(--md-down) {
      text-align: left;
    }
  }
  @media(--md-down) {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 20px;
    lost-column: 1/3;
  }

  @media(--xs-down) {
    lost-column: 1/2;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;

    h1 {
      margin-top: 15px;
      text-align: right;
    }
  }
}
.about_content_module_container {
  padding-bottom: 40px;
  lost-center: 1101px;
}
.section_headline {
  composes: study_headline from 'styles/mixins.css';
  font-size: 2em;
  width: 100%;
  text-align: left;
  @media(--lg-screen-down) {
    font-size: 2em;
  }

  @media(--md-down) {
    font-size: 2em;
  }
}
