@use lost;

.about_content_module {
  lost-flex-container: row;
  padding-bottom: 140px;
  @media (--lg-screen-down) {
    lost-flex-container: column;
  }
  @media(--xl-screen-down) {
    padding-bottom: 70px;
  }
  max-width: 1920px;
}

.section_headline {
  composes: study_headline from 'styles/mixins.css';
  font-size: 5em;
  @media(--lg-screen-down) {
    font-size: 3em;
  }

  @media(--md-down) {
    font-size: 5em;
  }
}

.about_left {
  lost-column: 550/1920;
  @media(--xl-screen-down) {
    lost-column: 0;
  }
}

.about_center {
  lost-column: 820/1920 0 0;
  @media(--xl-screen-down) {
    lost-column: 1 0 0;
    order: 2;
    margin-top: 30px;
    height: auto;
  }
  @media(--sm-down) {
    margin-top: 0;
  }
}

.about_right {
  @media(--xl) {
    lost-column: 550/1920;
  }
  lost-row: 1;
  order: 1;
  height: auto;
}

/* .about_left { */
/*   lost-column: 0/1920 0 0; */ 
/*   @media(--lg-screen-down) { */
/*     lost-column: 0; */
/*   } */
/* } */

/* .about_center { */
/*   lost-column: 1370/1920; */
/*   @media(--lg-screen-down) { */
/*     lost-row: 1; */
/*     order: 2; */
/*     margin-top: 30px; */
/*     height: auto; */
/*   } */
/*   @media(--xs-down) { */
/*     margin-top: 0; */
/*   } */
/* } */

/* .about_right { */
/*   lost-column: 550/1920; */
/*   @media(--lg-screen-down) { */
/*     lost-row: 1; */
/*     order: 1; */
/*     height: auto; */
/*   } */
/* } */
