
.one {
  font-size: 3em;
}
.test {
  color: var(--color-medium-gray);
  .go {
    color: blue;
  }
}

@media (--sm-viewport) {
  /* styles for small viewport */
  .test {
    color: var(--color-mercury);
  }
}
