@import 'base';
:global {
  .results {
    section {
      padding-top: em(25);
    }

    &-info-box {
      margin-top: em(50);
      padding-top: em(30);
      padding-bottom: em(30);
    }

    &-inner {
      lost-center: em(820);
      position: relative;
      min-height: 300px;
    }
  }


  .stats {
    @include span-columns(6);
    @include media($small-screen-up) {
      @include span-columns(2);
      height: 200px;
    }

    &-img {
      &-inner {
        max-width: 80%;
        @include media($medium-screen-up) {
          max-width: 90%;
        }

        margin: auto;
      }
      display: none;
      @include media($small-screen-up) {
        @include span-columns(8);
      }

    }
  }

  .stat-rule {
    height: 1px;
    width: 60px;
    background: white;
    opacity: 0.3;
    @include margin(40px auto 40px auto);
    @include media($medium-screen-up) {
      width: 80px;
      height: 2px;
      @include margin(60px auto 50px auto);
    }

  }

  .stat-box {
    text-align: center;
  }

  .stat-num {
    font-family: $gt;
    font-weight: bold;
    font-size: rem(40);
    @include media($medium-screen-up) {
      font-size: rem(70);
    }
    color: white;
  }

  .stat-description, .stat-label {
    font-family: $domaine;
    font-weight: 600;
    color: rgba(199, 61, 59, 1);
    font-size: 0.8em;
    font-style: italic;
    letter-spacing: 0.05em;
    @include media($medium-screen-up) {
      font-size: rem(21);
      margin-top: -20px;
    }
    margin-top: -10px;
    white-space: nowrap;
  }

  .results-info-box {
    width: 100%;
    background-color: #2bde73;
    border-radius: 0.5em;
    h2.lite {
      margin-bottom: 1em;
    }

    h1, h2 {
      font-size:1.2em;
      @include media($medium-screen-up) {
        font-size: 1.5em;
      }
      letter-spacing: 2px;
    }
  }
  .stat-boxes {


    margin-top: em(50);
    margin-bottom: em(45);
    lost-flex-container: row;
    width: 100%;

    .stat-box {
      lost-column: 1/2;
    }
    .stat-box-triple {
      lost-column: 1/3;
      text-align: center;
    }

  }
}
