@import 'base';
:global {
  .results {
    position: relative;
    &-outer {
      position: relative;
    }
    &-bg {
      position: absolute;
      width: 100%;
      height: 75%;
      @include media($under-small) {
        height: 100%;
      }
    }
    section {
      padding-top: em(25);
    }

    &-info-box {
      margin-top: em(50);
      padding-top: em(30);
      padding-bottom: em(30);
    }

    &-inner {
      lost-center: 90%;
      position: relative;
      min-height: 300px;
    }
  }


  .stats {
    @include span-columns(6);
    @include media($small-screen-up) {
      @include span-columns(2);
      height: 200px;
    }

    &-img {
      &-inner {
        max-width: 80%;
        @include media($medium-screen-up) {
          max-width: 90%;
        }

        margin: auto;
      }
      display: none;
      @include media($small-screen-up) {
        @include span-columns(8);
      }

    }
  }

  .stat-rule {
    height: 1px;
    width: 60px;
    background: white;
    opacity: 0.3;
    @include margin(40px auto 30px auto);
    @include media($medium-screen-up) {
      width: 80px;
      height: 2px;
      @include margin(60px auto 50px auto);
    }

  }

  .stat-box {
    text-align: center;
  }



  .stat-num {
    font-family: $gt;
    font-weight: bold;
    font-size: rem(40);
    @include media($under-medium) {
      font-size: rem(80);
    }
    @include media($under-small) {
      font-size: rem(40);
    }
    @include media($medium-screen-up) {
      font-size: rem(60);
    }
    color: white;
  }

  .stat-description, .stat-label {
    font-family: $domaine;
    font-weight: 600;
    color: rgba(199, 61, 59, 1);
    font-size: 0.75em;
    font-style: italic;
    letter-spacing: 0.05em;
    max-width: 40%;
    margin: auto;
    @include media($small-phones) {
      max-width: 100%;
    }
    @include media($small-medium-screen) {
      max-width: 60%; 
      margin: auto;
    }
    @include media($under-medium) {
      font-size: rem(20);
    }
    @include media($under-small) {
      font-size: rem(13);
    }
    @include media($medium-screen-up) {
      width: 100%;
      max-width: 100%;
      font-size: rem(15);
    }
    margin-top: -10px;
  }

  .results-info-box {
    width: 100%;
    background-color: #2bde73;
    border-radius: 0.5em;
    h2.lite {
      margin-bottom: 1em;
    }

    h1, h2 {
      font-size:1.2em;
      @include media($medium-screen-up) {
        font-size: 1.5em;
      }
      letter-spacing: 2px;
    }
  }
  .stat-boxes {
    margin-top: em(20);
    margin-bottom: em(25);
    lost-flex-container: row;
    width: 100%;
    text-align: center;

    .stat-box {
      lost-column: 1/2;
    }
    .stat-box-triple {
      lost-column: 1/3;
      text-align: center;
      .stat-num {
        @include media($under-medium) {
          font-size: rem(60);
        }
        @include media($under-small) {
          font-size: rem(20);
        }
        @include media($medium-screen-up) {
          font-size: rem(60);
        }
      }

    }
    .stat-box-device {
      lost-column: 1 0 0;
    }
    .stat-num {
      @include media($under-medium) {
        font-size: rem(60);
      }
      @include media($under-small) {
        font-size: rem(60);
      }
      @include media($medium-screen-up) {
        font-size: rem(60);
      }
      color: white;
    }
    .stat-device-left, .stat-device-right {
      lost-column: 15/100 0 0;
      @include media($under-small) {
        lost-column: 1/2 0 0;
      }
      .stat-description, .stat-label {
        @include media($under-medium) {
          font-size: rem(10);
        }
        @include media($under-small) {
          font-size: rem(13);
        }
        @include media($medium-screen-up) {
          width: 100%;
          max-width: 100%;
          font-size: rem(15);
        }
      }
    }
    .stat-device-image {
      lost-column: 70/100 0 0;
      @include media($under-small) {
        display: none;
      }
    }
    .stat-box-quad {
      lost-column: 1/4;
      text-align: center;

      @include media($under-medium) {
        lost-column: 1/2;
      }
    }

  }
}

