@import 'base';
.headerImage {
  height: 22vw;
  background-size: cover;
  lost-column: 1 0 0;
  margin-bottom: em(45);
  background-repeat: no-repeat;
  background-position: bottom center;
  min-height: 100px;
  position: relative;
}

.gradientCtr {
  width: 100%;
  position: fixed;
  height: 100px;
  @include media($under-medium) {
    height: 50px;
  }
  left: 0;
  top: $nav-height;
  z-index: 10;
  @include media(min-width 1920px) {
    top: 100px;
  }
  width: 100%;
  @include media($under-medium) {
    top: em(50);
  }
}

.gradientSvg {
  width: 100%;
  height: 100%;
  position: relative;
}

.gradTrigger {
  position: absolute;
  bottom: $nav-height;
  z-index: 14;

  @include media(min-width 1920px) {
    bottom: 75px;
  }

  height: 1px;
  background: transparent;
  width: 100%;

  @include media($under-medium) {
    bottom: em(50);
  }
}
