@use lost;

@custom-media --huge (min-width: 1920px);

.headerImage {
  height: 22vw;
  lost-column: 1 0 0;
  margin-bottom: 45px;
  min-height: 100px;
  position: relative;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.gradientCtr {
  width: 100%;
  height: 100px;
  width: 100%;
  z-index: 10;
  position: fixed;
  left: 0;
  top: var(--sizing-nav-height);

  @media(--md-down) {
    height: 50px;
    top: 50px;
  }

  @media (--huge) {
    top: 99px;
  }

  @media (--md-down) {
    top: 50px;
  }
}

.gradientSvg {
  width: 100%;
  height: 100%;
  position: relative;
}

.gradTrigger {
  position: absolute;
  bottom: var(--sizing-nav-height);
  z-index: 14;
  height: 1px;
  background: transparent;
  width: 100%;

  @media (--huge) {
    bottom: 75px;
  } 

  @media (--md-down) {
    bottom: 50px;
  }
}
