@use lost;

.row {
  lost-flex-container: row;

  div {
    lost-column: 1/2;
    margin-top: 0px;
    margin-bottom: 30px;
  }
}

.fullWidth {
  div {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .inner_section {
  }
}
