:global {
  .slides_container {
    &.row {
      max-width: 100% !important;
    }
  }
}
.work_view {
  max-width: 1920px;
  margin: auto;
}
.work_view_content {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  @media (--md-down) {
    padding-left: 0;
    padding-right: 0;
  }
}

.work_view_header {
  margin-top: 2em;
  @media (--lg) {
    margin-top: 4em;
  }
}

.page_subtitle {
  text-align: center;
  color: #48c3d3;
  font-family: var(--secondary-font-family);
  font-style: italic;
  font-size: 1.6em;
  font-weight: 600;
  margin-bottom: 1.875rem;

  @media (--sm-down) {
    font-size: 1em;
  }
}
