.svg-creative-icon-dims {
  width: 46px;
  height: 40px;
}

.svg-digitalpr-icon-dims {
  width: 46px;
  height: 40px;
}

.svg-social-icon-dims {
  width: 46px;
  height: 40px;
}

.svg-strategy-icon-dims {
  width: 46px;
  height: 40px;
}

.svg-tech-icon-dims {
  width: 46px;
  height: 40px;
}

.svg-video-icon-dims {
  width: 46px;
  height: 40px;
}

