.svg-creative-icon-dims {
  width: 23.4px;
  height: 50px;
}

.svg-digitalpr-icon-dims {
  width: 29.012px;
  height: 50px;
}

.svg-social-icon-dims {
  width: 46.359px;
  height: 50px;
}

.svg-strategy-icon-dims {
  width: 24.596px;
  height: 50px;
}

.svg-tech-icon-dims {
  width: 46.359px;
  height: 50px;
}

.svg-video-icon-dims {
  width: 48px;
  height: 50px;
}

