.svg-creative-icon-dims {
	width: 23.4px;
	height: 39.7px;
}

.svg-digitalpr-icon-dims {
	width: 29.012px;
	height: 28.048px;
}

.svg-social-icon-dims {
	width: 46.359px;
	height: 40.051px;
}

.svg-strategy-icon-dims {
	width: 24.596px;
	height: 39.988px;
}

.svg-tech-icon-dims {
	width: 16.728px;
	height: 10.439px;
}

.svg-video-icon-dims {
	width: 58.8px;
	height: 41px;
}

