@use lost;

.row {
  composes: row from 'styles/mixins.css';
  /* margin-top: 3%; */
  /* margin-bottom: 3%; */
}

.row_large {
  margin-top: 3%;
  composes: rowLarge from 'styles/mixins.css';
}

.about_all_clients {
  composes: row;
  margin-top: 4%;
  .headline-wrap {
    margin-bottom: 3em;
  }
}

#who-we-are-title {
  margin-bottom: 1em;
}

.quote-mark {
  font-size: 150px;
  line-height: 0;
  font-family: var(--primary-font-family);
  font-weight: normal;
  color: var(--color-tin);
}

.about_copy {
  lost-column: 1/2;
  @media (--md-down) {
    lost-column: 1;
    margin-bottom: 15px;
  }
}

.about_employee_card {
  @media (--sm-down) {
    lost-column: 1 0 0;
    margin-bottom: 15px;
  }

  @media (--sm) {
    lost-column: 1/2 2 20px;
    margin-bottom: 15px;
  }

  @media (--md) {
    lost-column: 1/2 2 30px;
    margin-bottom: 20px;
  }

  @media(--lg) {
    lost-column: 1/3 3 30px;
    margin-bottom: 30px;
  }

  @media(--xl) {
    lost-column: 1/4;
    margin-bottom: 30px;
  }
}
