@use lost;

.row {
  lost-flex-container: row;
  margin-bottom: 30px;
}

.headline {
  composes: headline from 'styles/mixins.css'; 
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
  width: 100%;
}

.row_large {
  margin-top: 3%;
  lost-flex-container: row;
}

.about_all_clients {
  lost-flex-container: row;
  width: 100%;
  margin-bottom: 1em;
  .headline-wrap {
    margin-bottom: 3em;
  }
  div {
    min-height: 70px;

    @media(--md) {
      min-height: 90px;
    }

    @media(--md-down) {
      min-height: 110px;
    }

    @media(--sm-down) {
      min-height: 70px;
    }
  }

  svg {
    @media(--md) {
      max-height: 60px;
    }
  }
}

.quote-mark {
  font-size: 150px;
  line-height: 0;
  font-family: var(--primary-font-family);
  font-weight: normal;
  color: var(--color-tin);
}

.about_copy_left {
  lost-column: 1/2;

  @media(--md-down) {
    lost-column: 1 0 0;
  }

  p {
    @media(--md-down) {
      font-size: 1.2em;
    }
  }
}

.about_copy_right {
  lost-column: 1/2;
  

  @media(--md-down) {
    lost-column: 1 0 0;
  }
  p {
    @media(--md-down) {
      font-size: 1.2em;
    }
  }
}

.about_copy {
  lost-column: 1/2;

  @media (--md-down) {
    lost-column: 1;
    margin-bottom: 15px;
  }
}

.about_employee_card {

  @media (--sm-down) {
    lost-column: 1 0 0;
    margin-bottom: 15px;
  }

  @media (--sm) {
    lost-column: 1/2 2 20px;
    margin-bottom: 15px;
  }

  @media (--md) {
    lost-column: 1/2 2 30px;
    margin-bottom: 20px;
  }

  @media(--lg) {
    lost-column: 1/3;
    margin-bottom: 30px;
  }

  @media(--xl) {
    lost-column: 1/4;
    margin-bottom: 30px;
  }
}
