@use lost;

.interested {
  text-align: center;
  margin-top: 70px;
}
.careers_copy {
  text-align: center;
  margin-bottom: 30px;
  max-width: 831px;
}
.career_listings {
  margin-top: 30px;
  width: 100%;
  lost-flex-container: row;
}

.career {
  margin-bottom: 30px;
  font-size: 0.7em;
  lost-column: 1 0 0;
  @media (--md) {
    lost-column: 1/3 3;
    font-size: 1em;
  }

  &_title {
    color: var(--color-radical-red);
    text-align: center;
    letter-spacing: -0.035em;
    font-size: 2.5rem;

    &:after {
      content: ' ';
      width: 60px;
      height: 3px;
      background-color: var(--color-storm-dust);
      margin-top: 10px;
      lost-center: 80px;
    }
  }
}

.positions_list {
  font-family: var(--primary-font-family);
  margin-top: 30px;
  text-align: center;
  .position {
    font-size: 1.5rem;
    @media (--md) {
      font-size: 1.2rem;
    }
  }
}
