@use lost;

.interested {
  text-align: center;
  margin-top: 70px;
}

.careers_copy {
  text-align: center;
  margin-bottom: 30px;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}
.career_listings {
  margin-top: 30px;
  width: 100%;
  lost-flex-container: row;
}

.career {
  margin-bottom: 30px;
  font-size: 0.7em;
  lost-column: 1 0 0;
  @media (--md) {
    lost-column: 1/3 3 0;
    font-size: 1em;
  }
}

.career_title {
  /* color: var(--color-dove-gray); */
  text-align: left;
  letter-spacing: -0.035em;
  font-size: 1.5rem;
  display: inline-block;
  font-weight: 600;
  font-family: 'GT-Walsheim';
}

.career_type {
  text-align: right;
  display: inline-block;
  float: right;
  font-weight: 300;
  font-family: 'GT-Walsheim';
  font-size: 1.5rem;
}

.career_title:after {
  /* content: ''; */
  /* width: 60px; */
  /* height: 3px; */
  /* background-color: var(--color-storm-dust); */
  /* margin-top: 10px; */
  /* display: block; */
  /* lost-center: 80px; */
}


.positions_list {
  font-family: var(--primary-font-family);
  margin-top: 30px;
  text-align: center;
  .position {
    font-size: 1.5rem;
    @media (--md) {
      font-size: 1.2rem;
    }
  }
}

.headline {
  composes: headline from 'styles/mixins.css'; 
  text-align: center;
}

.career_list_item {
  lost-column: 1;
  border-bottom: 2px solid var(--color-stack);
  padding-top: 35px;
  padding-bottom: 35px;
}

.career_item_header {
  cursor: pointer;
  user-select: none;
}

.career_list {
  max-width: 960px;
  margin: auto;
}

.career_body {
}

.section_header {
  color: var(--color-radical-red);
  font-family: var(--primary-font-family);
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.position_duties {
}

.duties, .traits {
  font-family: var(--primary-font-family);
}

.duty, .trait {
  position: relative;
  padding-left: 20px;
  font-size: 1.25rem;
  line-height: 1.7;
}

.duty:before, .trait:before {
  content: '- ';
  position: absolute;
  left: 10px;
}

.apply_now {
  background: var(--color-radical-red);
  color: white;
  font-family: var(--primary-font-family);
  padding: 10px 20px 10px 20px;
  width: 200px;
  text-align: center;
  margin: auto;

  a {
    color: white;
  }
}
