@use lost;

.service-row {
  margin-top: 15px;

  @media(--md) {
    margin-top: 20px;
  }
}

.service_bucket {
  position: relative;
  margin-bottom: 5%;

  @media(--sm-down) {
    lost-center: 500px;
    lost-column: 1 0 0;
    margin-right: auto !important;
  }

  @media (--md) {
    lost-column: 1/2 2 60px;
  }
}

.service_title {
  position: relative;
  font-family: var(--primary-font-family);
  font-weight: 600;
  font-size: 38px;
  color: var(--color-dove-gray);
  letter-spacing: -0.05em;

  &::after {
    content: ' ';
    height: 2px;
    width: 40px;
    background: var(--color-tin);
    margin-top: 0px;
    left: 0;
    transform: none;
    position: absolute;

    @media (--sm) {
      margin-top: 0;
    }

  }

  @media(--md) {
    text-align: left;
  }

}

.service_body {
  composes: service-row;
  font-family: var(--primary-font-family);
  color: var(--color-storm-dust);
  font-size: 1rem;

  @media (--md) {
    text-align: left;
    padding-right: 0;
  }

  @media(--xl) {
    min-height: 85px;
  }

  @media (--lg) {
    font-size: 18px;
    padding-right: 9%;
  }

  @media(--lg-screen-down) {
    min-height: 115px;
  }

  @media(--xl-screen-down) {
    min-height: 115px;
  }

  @media (max-width: 1490px) {
    min-height: 115px;
  }

  @media(--sm-down) {
    min-height: auto;
  }
}

.service_categories {
  composes: service-row;
  lost-flex-container: row;
}

.service_cat {
  font-family: var(--primary-font-family);
  font-size: 1.2em;
  font-weight: 200;
  font-style: oblique;
  line-height: 1.5;
  text-align: left;
  -webkit-text-stroke: 0.35px;
  -webkit-font-smoothing: antialiased;
  color: var(--color-radical-red);
  margin-bottom: 5px;

  lost-column: 1;

  @media (--md-down) {
    lost-column: 1;
  }

  @media (--lg) {
    lost-column: 1/2;
    font-size: 1em;
  }
}
