:global {
  .grid {
    margin-top: 100px;
  }

  .quarts, .thirds, .halfs, .fulls {
    lost-center: em(1200);
    div {
      height: 200px;
    }
  }

  #about {
    .header-image {
      @include header-image('about.jpg');
    }
  }

  .slick-slider {
    @include outer-container(70vw);
    margin-bottom: em(80);
    * {
      z-index: 0;
    }
  }

  .slick-dots {
    position: auto !important;
  }

  .about-quote {
    font-family: $gt;
    color: $radical-red;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: -0.025em;
    position: relative;
    cursor: grab;
    margin-top: em(30);

    @include media($medium-screen-up) {
      font-size: rem(42);
    }

    &-wrap {
      &-inner {
        width: 80%;
        margin-top: 100px;
      }

      .quote-attr {
        margin-top: em(30);
        font-style: italic;
        font-weight: normal;
        font-family: $domaine;
        font-size: rem(14);
        letter-spacing: 0.015em;
        color: #48c3d3;

        @include media($medium-screen-up) {
          margin-top: rem(20);
        }
      }

    }

  }

  .quote-mark {
    font-size: rem(150);
    line-height: 0;
    font-family: $gt;
    font-weight: normal;
    color: $tin;
  }
  .about-copy {
    @include one-half;
  }
  .about-employee-card {

    @include media($large-screen-up) {
      lost-column: 1/4 4 40px;
      margin-bottom: 30px;
    }
    @include media($medium-screens) {
      lost-column: 1/3 3 30px;
      margin-bottom: 20px;
    }
    @include media($small-screens) {
      lost-column: 1/2 2 20px;
      margin-bottom: 15px;
    }
    @include media($under-small) {
      lost-column: 1 1 20px;
      margin-bottom: 15px;
    }
  }
}
