:global {
  #careers {

    .interested {
      text-align: center;
      margin-top: em(70);
    }
    .page-content {
      
    }
    .careers-copy {
      // lost-center: 820px;
      text-align: center;
      margin-bottom: em(80);
    }

    .career-listings {
      margin-top: em(30);
      // lost-center: 820px;
    }
    .row {
      width: 100%;
    }
    .career {
      lost-column: 1;
      margin-bottom: em(30);
      font-size: 0.7em;
      @include media($medium-screen-up)  {
        lost-column: 1/3 3;
        font-size: 1em;
      }


      &-title {
        @include title;
        font-size: 2em;
        letter-spacing: -0.035em;
        &:after {
          content: ' ';
          width: 60px;
          height: 3px;
          background-color: $storm-dust;
          margin-top: rem(10);
          lost-center: 80px;
        }
      }

      .positions-list {
        font-family: $gt;
        margin-top: em(30);
        text-align: center;
        .position {
          font-size: 1.5em;
        }
      }

    }

  }
}
