:global {

  .full-width-container {
    lost-flex-container: row;
    position: relative;
    min-height: 60vh;
  }

  .connect-map-inner-left {
    position: relative;
    lost-column: 1/2 0 0;
    @include media($under-medium) {
      lost-column: 1/4 0 0;
    }
    @include media($under-small) {
      lost-column: 0;
    }
  }
  .connect-map-inner-right {
    position: relative;
    lost-column: 1/2 0 0;
    padding-top: em(30);
    padding-bottom: em(30);

    @include media($under-medium) {
      lost-column: 3/4 0 0;
    }

    @include media($under-small) {
      lost-column: 1;
    }
    .connect-forms-container {
      background: rgba(255,255,255,0.8);
      padding: 1.4em;
    }
  }
  .mapboxgl-canvas-container {
    position: relative;
    height:100%;

  }

  .connect-inner {
    lost-column: 1/2 2;
    @include media($under-medium) {
      lost-column: 1 0;

    }
    &.left {
      position: relative;
      // background-color: $storm-dust;
      height: 800px;

    }
  }

  #connect-page-map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  .connect-headline {
    @include title;
    text-align: left;
    font-size: 1.8em !important;
    @include media($medium-screen-up) {
      font-size: 2em;
    }
  }
  div.connect-information {
    @include cst-row($row-width: 100%);
  }
  .connect-info-box {
    lost-column: 1/2;
    @include media($under-medium) {
      lost-column: 1/2;
      margin-bottom: em(20);
    }
  }

  .connect-info-box-inner {
    position: relative;
    @include bottom-rule-accent($align: left);
    margin-bottom: em(10);
  }
  .contact-link {
    height: 40px;
    width: 150px;
    padding: 0;
  }

  .newsletter {
    margin-top: em(90);
    margin-bottom: em(25);
  }
  .header-image {
    @include header-image('connect.jpg');
  }

}
