:global {

  .hidden {
    opacity: 0;
    visibility: hidden;
  }

  .mobile-project-wrap, 
  .home-mobile-image,
  .about-mobile,
  .clients-mobile-wrap {
    width: $outer-width;
    margin: auto;
  }

  .home-mobile {
    background: white;
    position: relative;
    text-align: center;
    &-image {
      min-height: 47vh;
      background-position: center center;
      // background-image: url('/assets/images/mobile-home.jpg');
      background-color: $glow-blue;
      background-size: cover;
    }

    .wrap {
      margin-top:2vh;
      height: 41vh;
      position: relative;
      .featured-headline {
        font-size: 15vw;
      }

      p {
        margin-top:2vh;
        color: $tin;
      }

      width: 100%;
    }
  }

  #scroll-for-more {
    text-align: center;
    font-family: $gt;
    font-size: 1.5em;
    width: 100%;
    color: $radical-red;
    position: absolute;
    font-weight: 600;
  }

  #featured-work {
    margin-top: 60px;
  }

  .clients {
    &.mobile {
      padding-top: 40px;
      background: $light-gray;
    }
    .services-button {
      min-height: 60px;
      a {
        color: white;
      }
      button {
        background: $radical-red;
        @include center(x);
      }
    }
  }

  .about-glow {
    margin-top: 40px;
    .header-image {
      // @include header-image('/assets/images/Glow_About_HeaderImage.jpg');
      margin-bottom: 20px;
    }
    .featured-headline {
      text-align: center;
    }

    .contact-bucket {
      margin-top: 15px;
    }
    h2 {
      margin-bottom: 15px;
    }

    p {
      font-size: rem(15);
      font-weight: 300;
      font-family: $gt;
      line-height: 1.5;
      color: $dove-gray;
      text-align: center;
    }

  }

  .project {

    &.mobile {
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
    }

  }

  .clients.mobile {
    .headline-wrap {
      margin-bottom: 1em;
    }
  }
}
