:global {
  #work {
    max-width: 1920px;
    margin: auto;
    .header {
      margin-top: 2em;
      @include media($large-screen-up) {
        margin-top: 4em;
      }
    }
    .slides-container {
      &.row {
        max-width: 100% !important;
      }
    }
    .page-content {
      max-width: 100% !important;
      padding-left: 0;
      padding-right: 0;
      @include media($under-medium) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

}
