/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors'
@import './variables/components'
@import './themes/default'
*/
@import 'vendor/bourbon/bourbon';
@import 'vendor/base/variables';
@import 'vendor/mixins';
@import 'vendor/neat/neat';
@import 'vendor/base/_grid-settings';
// @import 'vendor/base/base';

