@import 'base';
@import 'vendor/normalize';
@import 'vendor/base/variables';
@import 'vendor/base/base';
@import './case-studies/study-closed.scss';
// @import './case-studies/case-study.scss';
@import './ui/ui.scss';
@use lost;

:global {

  .home-container, html, body, .view-container, .page-container {
    min-height: 100%;
  }
  .page-container, body, html {
    height: 100%;

  }

  .page-content {
    lost-center: em($global-max-width);
    padding-left: $frame-width;
    padding-right: $frame-width;
    @include media($under-medium) {
      padding-left: $frame-width * 2;
      padding-right: $frame-width * 2;
    }
  }

  body {
    overflow-x: hidden;
  }
  .locked {
    overflow: hidden;
  }

  .outer, .page-container {
    width: $outer-width;
    margin: auto;
  }

  .view-container {
    padding-top: $nav-height;
    @include media(min-width 1920px) {
      padding-top: 75px;
    }
    width: 100%;
    @include media($under-medium) {
      padding-top: em(50);
    }
  }
  .header-grad {
    position: fixed;
    height: 20vh;
    @include media($large-screen-up) {
      height: 11vw;
    }
    width: 100%;
    top: 0;
    left: 0;
    @include transform(scaleY(0));
    @include background-image(linear-gradient(to bottom, white 50%, rgba(255,255,255,0)));
  }
  .header {
    .page-subtitle {   
      text-align: center;
      color: $glow-blue;
      font-family: $domaine;
      font-style: italic;
      font-size: 1.6em;
      font-weight: 600;
      margin-bottom: rem(30);
      @include media($under-small) {
        font-size: 1em; 
      }
    }
  }

  .page-content {
    lost-center: em($global-max-width);
    padding-left: $frame-width;
    padding-right: $frame-width;
    @include media($under-medium) {
      padding-left: $frame-width * 2;
      padding-right: $frame-width * 2;
    }
  }

  .page-title {
    @include title;
    &.small {
      font-size: 1.5em;
    }
  }

  .row {
    @include cst-row();
  }
  .row-large {
    @include cst-row($row-width: em(1770px));
  }

  .home-desktop, .container-inner, .slide {
    height: 100vh;
    width: 100%;
  }
  .slide {
    position: absolute;
    top: 0;
  }



  .page-outer, .container {

    background-color: white;
  }

  .header {
    width: 100%;
  } 
  .home-desktop {
    height: 100vh;
    width: 100%;
    position: fixed;
    overflow: hidden;
    top:0;
    left:0;
  }

  .home {
    @include size(100%);
  }

  .home-container-desktop {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
  }
}


