.12-monkeys-lockup {
  width: 1102px;
  height: 177px;
}

.ascension-lockup {
  width: 982px;
  height: 152px;
}

.carla-hall-lockup {
  width: 979px;
  height: 165px;
}

.casual-lockup {
  width: 886px;
  height: 152px;
}

.how-i-did-it-lockup {
  width: 1069px;
  height: 142px;
}

.ilny-lockup {
  width: 796px;
  height: 165px;
}

.mindy-lockup {
  width: 1106px;
  height: 142px;
}

.proof-lockup {
  width: 605px;
  height: 170px;
}

.sharknado-lockup {
  width: 1152px;
  height: 141px;
}

.veep-lockup {
  width: 745px;
  height: 168px;
}

.westminster-lockup {
  width: 1156px;
  height: 238px;
}

.winter-calendar-lockup {
  width: 1030px;
  height: 168px;
}

