@import 'base';


#main-footer {

  font-family: $gt;
  color: $tin;
  font-weight: 300;
  line-height: rem(28);
  margin-top: 50px;

  &.mobile-footer {
    margin-top: 40px;
    ul {
      padding-top:0;
    }
    .footer-bottom {
      padding-bottom: rem(8);
      text-align: center;
      font-size: 0.8rem;
    }
  }

  .footer-bottom {
    padding-top: 0;
    padding-bottom: rem(8);
    text-align: center;
    font-size: 0.8rem;
  }

  .footer-end {
    width: 100%;
    height: 7px;
    @include media($large-screen-up) {
      height: 15px;
    }
    background: $radical-red;
  }
}