@import 'base';
.mobile-footer {
    @include display(flex);
    @include outer-container(90%);
    li {
      @include flex(1);
      @include margin(0 1em 0 1em);
      svg {
        max-height: 60px;
      }
    }
}