@use lost;

.gradient_svg {
  width: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
}

.results_outer {
  width: 100%;
  position: relative;
  margin-bottom: 70px;
}

.results_headline {
  composes: study_headline from 'components/case-study/shared.css';
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
}

.results_inner {
  lost-flex-container: row;
  height: 100%;
  max-width: 1345px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.left {
  lost-column: 286/1345 0 0;
  position: relative;
  lost-flex-container: row;
  @media(--sm-down) {
    lost-column: 1/2 0 0;
  }
}

.inner_center {
  /* top: center; */
  /* left: center; */
  width: 100%;

  @media(--sm-down) {
    position: relative;
    top: initial;
    left: initial;
    transform: none;
    margin-bottom: 40px;
  }
}
.center {
  lost-column: 773/1345 0 0;
  img {
    display: block;
    margin: auto;
    /* object-fit: cover; */
  }
  position: relative;
  @media(--sm-down) {
    lost-column: 0 0 0;
  }
}
.right {
  lost-column: 286/1345 0 0;
  position: relative;
  lost-flex-container: row;
  @media(--sm-down) {
    lost-column: 1/2 0 0;
  }
}

.stat_left {
  text-align: center;
  lost-column: 1 0 0;
  min-height: 165px;

  @media (--lg-screen-down) {
    min-height: 105px;
  }
}


.stat_right {
  text-align: center;
  lost-column: 1 0 0;
  min-height: 165px;
  @media (--lg-screen-down) {
    min-height: 105px;
  }
}

.stat {
  font-size: 3em;
  font-weight: bold;
  @media(--lg-screen-down) {
    font-size: 2.5em;
  }
}
.stat_description {
  font-style: italic;
  font-family: var(--secondary-font-family);
  font-size: 1.55em;
  font-weight: bold;
  max-width: 90%;
  margin: auto;
  @media(--lg-screen-down) {
    font-size: 1em;
  }

  @media(--md-down) {
    font-size: 0.85em;
  }
}
.stat_bordered {
  composes: stat;
  /* padding-top: 1px; */
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  /* border-top: 2px solid black; */
}

.stat_boxes {
  lost-flex-container: column;
  position: relative;

}

.separator {
  left: center;
  top: center;
  background: var(--color-alto);
  width: 40%;
  height: 2px;

  @media(--sm-down) {
    display: none;
  }
}

.left_inner {
  /* position: absolute; */
  /* right: 0; */
  /* height: 50%; */
}

.right_inner {
  /* position: absolute; */
  /* left: 0; */
  /* height: 50%; */
}

.right_inner_center {
  height: 50%;
  width: 100%;
  top: center;
  @media(--sm-down) {
    top: auto;
    left: auto;
    transform: none;
    margin-right: 0;
  }
}
.left_inner_center {
  height: 50%;
  width: 100%;
  top: center;

  @media(--sm-down) {
    top: auto;
    left: auto;
    transform: none;
    margin-right: 0;
  }
}

.stat_wrap {
  position: relative;
  height: 100%;
}

/* MESSAGE BOX LAYOUT */

.callout_box {
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2bde73;
  border-radius: 0.5em;
  color: white;
  text-align: center;
  padding-top: 1.875em;
  padding-bottom: 1.875em;
  h1 {
    font-size: 1.2em;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
  }

  @media(--copy-max) {
    lost-center: var(--sizing-outer-width);
  }

}

.callout_box_stats {
  lost-flex-container: row;
  /* lost-center: 820px; */
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  padding-top: 40px;
  @media(--copy-max) {
    max-width: var(--sizing-outer-width);
  }
}

.stat_box_third {
  lost-column: 1/3 0 0;
}
.stat_box_half {
  lost-column: 1/2 0 0;
}

.callout_stat {
  composes: stat;
  text-align: center;
  font-size: 3.75em;
  @media(--copy-max) {
    font-size: 3em;
  }
  @media(--sm-down) {
    font-size: 2.25em;
  }
}

.callout_stat_description {
  composes: stat_description;
  text-align: center;
  font-size: 1.25em;
  @media(--copy-max) {
    font-size: 1.15em;
  }

  @media(--sm-down) {
    font-size: 1em;
  }
}
