.transition-element {
  transform: scaleX(0); 
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  top: 0;
  left: 0;
}

.transition {
  &_left {
    background: var(--color-radical-red);
    composes: transition-element;
  }
  &_right {
    background: white;
    composes: transition-element;
  }
}
