// .transition-element {
//   transform: scaleX(0);
//   height: 100vh;
//   width: 100vw;
//   position: absolute;
//   top: 0;
//   left: 0;
// }

// .transition {
//   // composes: transition-element;
//   @extend .transition-element;
//   position: absolute;
//   z-index: 11;
//   top: 0;
//   left: 0;
//   &Left {
//     background: rgb(241, 45, 92);
//     // composes: transition-element;
//   @extend .transition-element;
//   }
//   &Right {
//     background: white;
//     // composes: transition-element;
//   @extend .transition-element;
//   }
// }
