.svg-12-monkeys-lockup-dims {
	width: 1102px;
	height: 177px;
}

.svg-antm-lockup-dims {
	width: 759.1px;
	height: 169.1px;
}

.svg-ascension-lockup-dims {
	width: 982px;
	height: 152px;
}

.svg-ballers-lockup-dims {
	width: 816px;
	height: 170px;
}

.svg-boxing-lockup-dims {
	width: 817px;
	height: 175px;
}

.svg-bridget-lockup-dims {
	width: 1161px;
	height: 222px;
}

.svg-carla-lockup-dims {
	width: 979px;
	height: 165px;
}

.svg-casual-lockup-dims {
	width: 886px;
	height: 152px;
}

.svg-hunters-lockup-dims {
	width: 895.3px;
	height: 184px;
}

.svg-ilny-lockup-dims {
	width: 796px;
	height: 165px;
}

.svg-ilny-lockup-old-dims {
	width: 796px;
	height: 165px;
}

.svg-ilny2017-lockup-dims {
	width: 919px;
	height: 165px;
}

.svg-mindy-lockup-dims {
	width: 1106px;
	height: 142px;
}

.svg-nightof-lockup-dims {
	width: 1128px;
	height: 176px;
}

.svg-profit-lockup-dims {
	width: 884.5px;
	height: 167px;
}

.svg-proof-lockup-dims {
	width: 605px;
	height: 170px;
}

.svg-sharknado-2017-lockup-dims {
	width: 1156px;
	height: 142px;
}

.svg-sharknado-lockup-dims {
	width: 1152px;
	height: 141px;
}

.svg-uncorked-lockup-dims {
	width: 953px;
	height: 166px;
}

.svg-veep-lockup-dims {
	width: 754px;
	height: 168px;
}

.svg-westminster-lockup-dims {
	width: 1156px;
	height: 238px;
}

.svg-winter-calendar-lockup-dims {
	width: 1030px;
	height: 168px;
}

.svg-yahoo-lockup-dims {
	width: 1069px;
	height: 142px;
}

.svg-younger-lockup-dims {
	width: 1066px;
	height: 156px;
}

.svg-znation-lockup-dims {
	width: 829px;
	height: 170px;
}

