.svg-12-monkeys-lockup-dims {
	width: 1102px;
	height: 177px;
}

.svg-ascension-lockup-dims {
	width: 982px;
	height: 152px;
}

.svg-carla-lockup-dims {
	width: 979px;
	height: 165px;
}

.svg-casual-lockup-dims {
	width: 886px;
	height: 152px;
}

.svg-hunters-lockup-dims {
	width: 895.3px;
	height: 184px;
}

.svg-ilny-lockup-dims {
	width: 796px;
	height: 165px;
}

.svg-mindy-lockup-dims {
	width: 1106px;
	height: 142px;
}

.svg-proof-lockup-dims {
	width: 605px;
	height: 170px;
}

.svg-sharknado-lockup-dims {
	width: 1152px;
	height: 141px;
}

.svg-veep-lockup-dims {
	width: 754px;
	height: 168px;
}

.svg-westminster-lockup-dims {
	width: 1156px;
	height: 238px;
}

.svg-winter-calendar-lockup-dims {
	width: 1030px;
	height: 168px;
}

.svg-yahoo-lockup-dims {
	width: 1069px;
	height: 142px;
}

