.svg-ae-dims {
	width: 190.6px;
	height: 99.4px;
}

.svg-carla-hall-dims {
	width: 135.93px;
	height: 100px;
}

.svg-cartoon-network-dims {
	width: 176.37px;
	height: 100px;
}

.svg-cartoon-network-alternate-dims {
	width: 171.18px;
	height: 100px;
}

.svg-cinemax-dims {
	width: 286.31px;
	height: 100px;
}

.svg-cnbc-dims {
	width: 136.1px;
	height: 100px;
}

.svg-crackle-dims {
	width: 300px;
	height: 56.61px;
}

.svg-final--symbol--svg--sprite.symbol-dims {
	width: 0px;
	height: 0px;
}

.svg-glow-dims {
	width: 162.75px;
	height: 100px;
}

.svg-hbo-dims {
	width: 242.53px;
	height: 100px;
}

.svg-hbo-alternate-dims {
	width: 242.53px;
	height: 100px;
}

.svg-history-dims {
	width: 124.04px;
	height: 100px;
}

.svg-hulu-dims {
	width: 295px;
	height: 97.2px;
}

.svg-ilny-dims {
	width: 107.68px;
	height: 100px;
}

.svg-ilny-alternate-dims {
	width: 107.68px;
	height: 100px;
}

.svg-logo_ae-dims {
	width: 100px;
	height: 100px;
}

.svg-logo_carlahall-dims {
	width: 100px;
	height: 100px;
}

.svg-logo_cartoonnetwork-dims {
	width: 100px;
	height: 100px;
}

.svg-logo_cinemax-dims {
	width: 100px;
	height: 100px;
}

.svg-logo_cnbc-dims {
	width: 100px;
	height: 100px;
}

.svg-logo_crackle-dims {
	width: 100px;
	height: 100px;
}

.svg-logo_glow-dims {
	width: 100px;
	height: 100px;
}

.svg-logo_hbo-dims {
	width: 100px;
	height: 100px;
}

.svg-logo_historychannel-dims {
	width: 100px;
	height: 100px;
}

.svg-logo_hulu-dims {
	width: 100px;
	height: 100px;
}

.svg-logo_ilovenewyork-dims {
	width: 100px;
	height: 100px;
}

.svg-logo_ilovenewyork-red-dims {
	width: 100px;
	height: 100px;
}

.svg-logo_nick-dims {
	width: 100px;
	height: 100px;
}

.svg-logo_syfy-dims {
	width: 100px;
	height: 100px;
}

.svg-logo_tbs-dims {
	width: 100px;
	height: 100px;
}

.svg-logo_tnt-dims {
	width: 100px;
	height: 100px;
}

.svg-logo_trutv-dims {
	width: 100px;
	height: 100px;
}

.svg-logo_usa-dims {
	width: 100px;
	height: 100px;
}

.svg-logo_vh1-dims {
	width: 100px;
	height: 100px;
}

.svg-logo_westminster-dims {
	width: 100px;
	height: 100px;
}

.svg-logo_wetv-dims {
	width: 100px;
	height: 100px;
}

.svg-logo_yahoo-dims {
	width: 100px;
	height: 100px;
}

.svg-newlogos--logo_ae-dims {
	width: 100px;
	height: 100px;
}

.svg-newlogos--logo_carlahall-dims {
	width: 100px;
	height: 100px;
}

.svg-newlogos--logo_cartoonnetwork-dims {
	width: 100px;
	height: 100px;
}

.svg-newlogos--logo_cinemax-dims {
	width: 100px;
	height: 100px;
}

.svg-newlogos--logo_cnbc-dims {
	width: 100px;
	height: 100px;
}

.svg-newlogos--logo_crackle-dims {
	width: 100px;
	height: 100px;
}

.svg-newlogos--logo_glow-dims {
	width: 100px;
	height: 100px;
}

.svg-newlogos--logo_hbo-dims {
	width: 100px;
	height: 100px;
}

.svg-newlogos--logo_historychannel-dims {
	width: 100px;
	height: 100px;
}

.svg-newlogos--logo_hulu-dims {
	width: 100px;
	height: 100px;
}

.svg-newlogos--logo_ilovenewyork-dims {
	width: 100px;
	height: 100px;
}

.svg-newlogos--logo_ilovenewyork-red-dims {
	width: 100px;
	height: 100px;
}

.svg-newlogos--logo_nick-dims {
	width: 100px;
	height: 100px;
}

.svg-newlogos--logo_syfy-dims {
	width: 100px;
	height: 100px;
}

.svg-newlogos--logo_tbs-dims {
	width: 100px;
	height: 100px;
}

.svg-newlogos--logo_tnt-dims {
	width: 100px;
	height: 100px;
}

.svg-newlogos--logo_trutv-dims {
	width: 100px;
	height: 100px;
}

.svg-newlogos--logo_usa-dims {
	width: 100px;
	height: 100px;
}

.svg-newlogos--logo_vh1-dims {
	width: 100px;
	height: 100px;
}

.svg-newlogos--logo_westminster-dims {
	width: 100px;
	height: 100px;
}

.svg-newlogos--logo_wetv-dims {
	width: 100px;
	height: 100px;
}

.svg-newlogos--logo_yahoo-dims {
	width: 100px;
	height: 100px;
}

.svg-nick-dims {
	width: 249.88px;
	height: 100px;
}

.svg-syfy-dims {
	width: 139.1px;
	height: 75.01px;
}

.svg-tbs-dims {
	width: 175.25px;
	height: 100px;
}

.svg-tnt-dims {
	width: 99.99px;
	height: 100px;
}

.svg-tru-tv-dims {
	width: 170.8px;
	height: 66.1px;
}

.svg-usa-dims {
	width: 88.52px;
	height: 36.65px;
}

.svg-vh1-dims {
	width: 256.69px;
	height: 100px;
}

.svg-we-tv-dims {
	width: 143.81px;
	height: 100px;
}

.svg-westminster-dims {
	width: 217.38px;
	height: 100px;
}

.svg-westminster-alternate-dims {
	width: 217.52px;
	height: 100px;
}

.svg-yahoo-dims {
	width: 300px;
	height: 69.61px;
}

