@import 'base';
:global {
  .employee-card {
    text-align: center;
    position: relative;
    overflow: hidden;
    &-inner {
      padding-top: 60px;
      background-image: url("https://s3.amazonaws.com/weareglow-assets/employee-photos/Employee_Card_Shape.svg");
      background-size: cover;
      background-position: top center;
      height: 168px;
      @include position(absolute, null null 0 0);
      @include transform(scaleY(0));
      @include transform-origin(top center);
      width: 100%;
    }

    .employee-name {
      font-family: $gt;
      font-weight: bold;
      font-size: rem(36);
      letter-spacing: -0.025em;
      color: $radical-red;
    }

    .employee-position {
      margin-top: -5px;
      font-family: $domaine;
      font-style: italic;
      font-size: rem(20);
      color: shade($storm-dust, 50%);
      font-weight: normal;
    }

    img {
      cursor: pointer;
    }

    .img-roll {
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
    }
  }
}
