@use lost;
:global {
  .slick-slide {
    /* max-width: 820px; */
    /* margin: auto; */
    /* margin-bottom: 80px; */
    * {
      z-index: 0;
    }
  }
  .slick-dots {
    position: auto !important;
  }
}

.about_quote {
  font-family: var(--primary-font-family);
  color: var(--color-radical-red);
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: -0.025em;
  position: relative;
  cursor: grab;
  margin-top: 1em; 
  /* width: 80%; */
  margin-left: auto;
  margin-right: auto;
  /* max-width: 820px; */


  @media (--md) {
    font-size: rem(42);
  }

}

.quote-mark {
  font-size: 150px;
  line-height: 0;
  font-family: var(--primary-font-family);
  font-weight: normal;
  color: var(--color-tin);
}
.about_quote_wrap {
  width: 80%;
  /* max-width: 820px; */
  margin-top: 100px;
}
.quote_attr {
  margin-top: 30px;
  font-style: italic;
  font-weight: normal;
  font-family: var(--secondary-font-family);
  font-size: 24px;
  letter-spacing: 0.015em;
  color: #48c3d3;

  @media (--md) {
    margin-top: rem(20);
  }
}
.test {
  /* width: 80%; */
}
