.view_more {
  font-family: var(--primary-font-family);
  font-size: 14px;
  font-weight: 600;
  @media(--md) {
    font-size: 1.125em;
  }
  color: white;
}

.backbar_button, 
.backbar_text {
  height: 100%;
  float: left;
}
.backbar_text {
  position: relative;
  min-width: 100px;
  span {
    top: center;
    font-family: var(--primary-font-family);
  }
}

.backbar_button {
  width: 35px;
  position: relative;
  margin-right: 2px;
  @media(--md) {
    margin-left: 25px;
    margin-right: 10px;
  }
}

.back {
  transform: translateY(-50%) rotateZ(90deg);
  position: absolute;
  top: 50%;
  height:28px;
  @media(--md) {
    height:30px;
  }
}

.backbar {
  cursor: pointer;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  svg.glow-logo {
    left: center;
    top: center;
  }
}
.backbar_inner {
  height: 100%;
  width: 100%;
  position: relative;


}

.glow_logo {
  top: center;
  left: center;
}
