@import 'base';
:global {

  .backbar {
    cursor: pointer;
    width: 100%;
    height: 50px;
    &-button, &-text {
      height: 100%;
      float: left;
    }

    &-button {
      width: 35px;
      margin-right: em(2);
      @include media($medium-screen-up) {
        margin-left: 70px;
        margin-right: em(10);
      }
    }

    .view-more {
      @include center(y);
      //left: 5%;
      font-family: $gt;
      font-size: em(14);
      font-weight: 600;
      @include media($medium-screen-up) {
        font-size: 1.125em;
      }

      color: white;
    }
    .back {
      @include transform(translateY(-50%) rotateZ(90deg));
      position: absolute;
      top: 50%;
      height:28px;
      @include media($medium-screen-up) {
        height:30px;
      }

      //left: 2%;
    }
    @include position(fixed, 0 null null 0);
    //@include transform(translateY(-100%));
    z-index: 10;

    &-inner {
      @include size(100%);
      position: relative;

      svg.glow-logo {
        @include center(xy);
      }
    }
  }
}
