@use lost;
:global {
  .sidebar-two {
    position: relative;
    lost-column: 1 0 0;
    @media(--xl-screen-down) {
      lost-column: 1/2 0 0;
    }
    @media(--sm-down) {
      lost-column: 1 0 0;
    }

  }
  .sidebar-three {
    @media(--xl) {
      lost-column: 1 0 0;
    }
    position: relative;
    lost-column: 1/3 0 0;
    @media(--sm-down) {
      lost-column: 1 0 0;
    }
  }

  .sidebar-four {
    lost-row: 1 0 0;
    @media(--lg-down) {
      lost-column: 1/4 0 0;
    }
  }
}

.sidebar_header {
  color: white;
  font-size: 1.4em;
  font-family: var(--primary-font-family);
  font-weight: bold;
  @media(--xl-screen-down) {
    text-align: center;
    font-size: 2em;
  }
}

.sidebar_box {
  min-height: 120px;
  position: relative;
  margin-bottom: 20px;
}
.inner_box {
  position: relative;
}
.sidebar_body {
  font-family: var(--primary-font-family);
  padding-left: 8%;
  margin-bottom: 1em;

  @media(--xl-screen-down) {
    text-align: center;
    padding-left: 0;
    padding-bottom: 3%;
    margin-bottom: 0;
  }
  svg {
    max-width: 80px;
    height: 70px;
    margin-top: 5px;
    @media(--xl-screen-down) {
      margin: auto;
      max-width: 80px;
    }
  }

  li {
    color: rgba(255,255,255,0.4);
  }
}

.sidebar {
  height: 100%;
  max-width: 332px;
  margin-left: auto;
  margin-right: auto;
  lost-flex-container: row;
  @media(--sm-down) {
    display: none;
  }
}

.sidebar_ctr_two {
  composes: sidebar;
  lost-flex-container: row;
  @media(--xl-screen-down) {
    max-width: 45%;
    margin-left: auto;
    margin-right: auto;
  }
  @media(--sm-down) {
    display: none;
  }
}

.sidebar_ctr_three {
  composes: sidebar;
  lost-flex-container: row;
  @media(--xl-screen-down) {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  @media(--sm-down) {
    display: none;
  }
}


.share {
  cursor: pointer;
  margin-top: 60px;
}

.waffle {
  height: 100vh;
  width:100%;
  lost-flex-container: row;
  div {
    lost-waffle: 1/3;

    &:nth-of-type(odd) {
      background: blue;
    }

    &:nth-of-type(even) {
      background: red;
    }
  }
}
