@import 'base';
@use lost;
:global {

  .sidebar-three {
    lost-row: 1 0 0;
    height: auto;

    @include media($under-large) {
      lost-column: 1/3 0 0;
    }

  }

  .sidebar-four {
    lost-row: 1 0 0;

    @include media($under-large) {
      lost-column: 1/4 0 0;
    }
  }
  .sidebar {
    lost-column: 2.7/10 0 0;
    // margin-top: 40px;
    padding-left: 5%;
    lost-flex-container: column;
    @include clearfix;
    @include media($under-large) {
      lost-flex-container: row;
      padding-left: 0;
      lost-center: em(820);
      lost-row: 1 0 auto;
      @include order(1);
      margin-left: auto !important;
      margin-right: auto !important;
      height: auto;
    }
    .sidebar-inner {

    }

    &-box {

      min-height: 120px;
      position: relative;
      margin-bottom: em(20);
      .sidebar-header {
        color: white;
        font-size: 1.5em;
        font-weight: bold;
        @include media($under-large) {
          text-align: center;
        }
      }

      .sidebar-body {
        font-family: $gt;
        padding-left: 10%;
        @include media($under-large) {
          text-align: center;
          padding-left: 0;
        }
        svg {
          max-width: 40%;
          height: em(70);
          @include media($under-large) {
            margin: auto;
          }
        }

        li {
          color: rgba(255,255,255,0.4);
        }
      }
    }
    #svg_share {
      max-width: 70%;
      cursor: pointer;
      @include media($under-large) {
        @include center(xy);
      }
    }

  }

  .share {
    cursor: pointer;
    margin-top: em(60);
    @include outer-container(250px);
  }


  .waffle {
    height: 100vh;
    width:100%;
    lost-flex-container: row;
    div {
      lost-waffle: 1/3;

      &:nth-of-type(odd) {
        background: blue;
      }

      &:nth-of-type(even) {
        background: red;
      }
    }
  }
}
