@use lost;
:global {
  .sidebar-two {
    margin-top: 15px;
    &:first-of-type {
      margin-top:0;
    }
    @media(--lg-down) {
      lost-column: 1/2 0 0;
    }

    @media(--xs-down) {
      lost-column: 1 0 0;
    }

    :last-of-type {
    }
  }
  .sidebar-three {
    margin-top: 15px;
    &:first-of-type {
      margin-top:0;
    }
    @media(--lg-down) {
      lost-column: 1/3 0 0;
    }

    @media(--xs-down) {
      lost-column: 1 0 0;
    }
  }

  .sidebar-four {
    lost-row: 1 0 0;

    @media(--lg-down) {
      lost-column: 1/4 0 0;
    }
  }
}

.sidebar_header {
  color: white;
  font-size: 1.5em;
  font-family: var(--primary-font-family);
  font-weight: bold;
  @media(--lg-down) {
    text-align: center;
  }
}
.sidebar_box {
  min-height: 120px;
  position: relative;
  margin-bottom: 20px;
}
.sidebar_body {
  font-family: var(--primary-font-family);
  padding-left: 10%;
  @media(--lg-down) {
    text-align: center;
    padding-left: 0;
  }
  svg {
    max-width: 120px;
    height: 70px;
    @media(--lg-down) {
      margin: auto;
    }
  }

  li {
    color: rgba(255,255,255,0.4);
  }
}

.sidebar {
  lost-column: 2.7/10 0 auto;
  padding-left: 5%;
  lost-flex-container: column;
  max-width: 500px;
  margin-right: auto !important;
  margin-left: auto !important;
  @media(--lg-down) {
    lost-flex-container: row;
    padding-left: 0;
    lost-row: 1 0 auto;
    order: 1;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

  #svg_share {
    max-width: 70%;
    cursor: pointer;
    @media(--lg-down) {
      @include center(xy);
    }
  }
}

.share {
  cursor: pointer;
  margin-top: 60px;
  @include outer-container(250px);
}


.waffle {
  height: 100vh;
  width:100%;
  lost-flex-container: row;
  div {
    lost-waffle: 1/3;

    &:nth-of-type(odd) {
      background: blue;
    }

    &:nth-of-type(even) {
      background: red;
    }
  }
}
