@use lost;

:global {
  .isStopped {
    cursor: url(https://s3.amazonaws.com/weareglow-assets/assets/play.png), auto;
  }
  .isPlaying {
    cursor: url(https://s3.amazonaws.com/weareglow-assets/assets/pause.png), auto;
  }

  .embed_container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }

  .embed_container iframe, .embed_container object, .embed_container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .video-looping-row {
    lost-flex-container: row;
    max-width: 820px;
    margin: auto;

    video {
      max-width: 100%;
    }

    @media(--md-down) {
      max-width: 85%;
    }
  }
  .video-looping {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    @media(--sm-down) {
      /* max-width: var(--sizing-outer-width); */
    }
    /* margin-bottom: 70px; */

    &-el {
      display: block;
      max-width: 100%;
      margin: auto;
    }

    &-half {
      lost-column: 1/2;
    }
    &-full {
      lost-column: 1 0 0;
      margin-bottom: 1em;
    }
  }
}

.video_block_mobile {
  max-width: 95%;
  margin: auto;
  margin-top: var(--sizing-section-margin);
  margin-bottom: var(--sizing-section-margin);
}

.mobile_video {
  max-width: 100%;
  position: relative;
}

.video_block {

  &_inner {
    max-width: 1120px;
    width: 95%;
    margin: auto;
  }

  position: relative;
  margin-top: var(--sizing-section-margin);
  margin-bottom: var(--sizing-section-margin);

  video {
    max-width: 100%;
    margin: auto;
    z-index: 19;
  }

  .play-button-outer {
    width: 150px;
    height: 80px;
    left: center;
    top: center;
    z-index: 20;
    background: white;
    border-radius: 5px;
  }

  .play-button-inner {
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: relative;
    .inner-ctr-wrap {
      width: 142px;
      height: 72px;
      left: center;
      top: center;
      background: #14e06e;
      &:hover {
        background: shade(rgb(19,224,110), 20%);
      }
      border-radius: 5px;
    }
    .inner-ctr {
      position: relative;
      height: 100%;
      width: 100%;
      .inner-btn {
        width: 20px;
        height: 28px;
        top: center;
        left: center;
        svg {
          fill: white;
        }
      }
    }
  }

  .controls {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    opacity: 0;
    visibility: hidden;

    div.pause-button-ctr {
      cursor: pointer;
      float: right;
      svg {
        &:hover {
          background: rgba(255,255,255,0.4);
        }
      }
    }
    div.stop-button-ctr {
      cursor: pointer;
      float: right;
      svg {
        &:hover {
          background: rgba(255,255,255,0.4);
        }
      }
    }

    svg {
      height: 40px;
      width: 40px;
      fill: #14e06e;
    }
  }
}
