@use lost;

.footer {
  font-family: var(--primary-font-family);
}
.desktop_footer {
  display: none;
  margin-top: 80px;
  width: 100%;
  min-height: 50px;

  @media (--md) {
    margin-top: 170px;
    display: flex;
  }
}

.footer_section {
  
  &_left {
    text-align: left;
    lost-column: 1/3 0 0;
    lost-align: middle-left;
  }

  &_right {
    text-align: right;
    lost-column: 1/3 0 0;
    lost-align: middle-right;
    right: 17px;

    a {
      color: var(--color-dark-gray);
      &:hover {
        color: var(--color-tin); 
      }
    }
  }

  &_middle {
    lost-column: 1/3 0 0;
    text-align: center; 
    lost-align: middle-center;
  } 

}
.footer_colophon {
  lost-column: 1;
  margin-top: 3%;
  margin-bottom: 10px;
  text-align: center;
  font-size: 0.7em;
}

.footer_mobile {
  width: var(--sizing-outer-width); 
  padding-left: var(--sizing-frame-width);
  padding-right: var(--sizing-frame-width);
  margin: auto;
  margin-top: 60px;

  @media (--md) {
    display: none;
  }

  ul {
    lost-flex-container: row;
    width: 100%;
    height: em(62);
  }

  li {
    position: relative;
    height: 62px;;
    cursor: pointer;
    lost-column: 1/3 0 0;

    a {
      top: center;
      left: center;
    }
  }
}

.iconSVG {
  cursor: pointer;
  width: 52px;
  height: 52px;
}

.mobile_list {
  width: 100%;
}
