@use lost;

.rowOne, rowTwo {
  lost-flex-container: row;
}

.videoCtr {
  lost-column: 1/3;
  margin-bottom: 30px;

  @media(--sm-down) {
    lost-column: 1 0 0;
    margin-bottom: 15px;
  }
}

.col {
  lost-column: 1/2 0 100px;
}
