.svg-12-monkeys-lockup-dims {
	width: 300px;
	height: 48.19px;
}

.svg-ascension-lockup-dims {
	width: 300px;
	height: 46.44px;
}

.svg-carla-lockup-dims {
	width: 300px;
	height: 50.56px;
}

.svg-casual-lockup-dims {
	width: 300px;
	height: 51.47px;
}

.svg-hunters-lockup-dims {
	width: 300px;
	height: 61.66px;
}

.svg-ilny-lockup-dims {
	width: 300px;
	height: 62.19px;
}

.svg-mindy-lockup-dims {
	width: 300px;
	height: 38.52px;
}

.svg-proof-lockup-dims {
	width: 300px;
	height: 84.3px;
}

.svg-sharknado-lockup-dims {
	width: 300px;
	height: 36.72px;
}

.svg-veep-lockup-dims {
	width: 300px;
	height: 66.84px;
}

.svg-westminster-lockup-dims {
	width: 300px;
	height: 61.76px;
}

.svg-winter-calendar-lockup-dims {
	width: 300px;
	height: 48.93px;
}

.svg-yahoo-lockup-dims {
	width: 300px;
	height: 39.85px;
}

