.svg-ae-logo-dims {
	width: 191px;
	height: 100px;
}

.svg-carla-hall-logo-dims {
	width: 344px;
	height: 253px;
}

.svg-cartoon-network-logo-dims {
	width: 309px;
	height: 176px;
}

.svg-cartoon-network-std-logo-dims {
	width: 227px;
	height: 133px;
}

.svg-cinemax-logo-dims {
	width: 784px;
	height: 274px;
}

.svg-close-icon-circle-dims {
	width: 75px;
	height: 75px;
}

.svg-cnbc-logo-dims {
	width: 177px;
	height: 130px;
}

.svg-crackle-logo-dims {
	width: 1078px;
	height: 204px;
}

.svg-email-icon-circle-dims {
	width: 75px;
	height: 75px;
}

.svg-facebook-icon-circle-dims {
	width: 75px;
	height: 75px;
}

.svg-glow-logo-dims {
	width: 419px;
	height: 258px;
}

.svg-hamburger-dims {
	width: 28px;
	height: 20px;
}

.svg-hbo-gray-logo-dims {
	width: 422px;
	height: 174px;
}

.svg-hbo-white-logo-dims {
	width: 422px;
	height: 174px;
}

.svg-hulu-logo-dims {
	width: 296px;
	height: 98px;
}

.svg-ilny-gray-logo-dims {
	width: 294px;
	height: 274px;
}

.svg-ilny-logo-dims {
	width: 294px;
	height: 274px;
}

.svg-info-icon-circle-dims {
	width: 75px;
	height: 75px;
}

.svg-instagram-icon-circle-dims {
	width: 75px;
	height: 75px;
}

.svg-more-icon-circle-dims {
	width: 75px;
	height: 75px;
}

.svg-phone-icon-circle-dims {
	width: 75px;
	height: 75px;
}

.svg-syfy-logo-dims {
	width: 140px;
	height: 75px;
}

.svg-tnt-logo-dims {
	width: 103px;
	height: 103px;
}

.svg-tru-tv-logo-dims {
	width: 172px;
	height: 67px;
}

.svg-twitter-icon-circle-dims {
	width: 75px;
	height: 75px;
}

.svg-usa-logo-dims {
	width: 90px;
	height: 37px;
}

.svg-we-tv-logo-dims {
	width: 496px;
	height: 346px;
}

.svg-westminster-logo-dims {
	width: 302px;
	height: 139px;
}

.svg-westminster-yellow-logo-dims {
	width: 935px;
	height: 430px;
}

.svg-yahoo-logo-dims {
	width: 370px;
	height: 87px;
}

