.button {
  border-width: 2px;
  border-color: currentColor;
  border-style: solid;
  width: 172px;
  height: 47px;
  margin-left: auto;
  margin-right: auto;
  line-height: 43px;
  font-size: 1.2em;
  color: currentColor;
  text-align: center;
  cursor: pointer;

  &:hover {
    background: #d0d0c4;
  }
}
