@use lost;

.brockmireVideoRow {
  lost-flex-container: row;
  max-width: 1100px;
  margin: auto;

  .notLooping {

    lost-column: 695/1100 0 20px;
    @media(--lg-up) {
      lost-column: 699/1100 0 20px;
    }
    video {
      width: 100%;
    }

    * {
      margin: 0 !important;
      width: 100% !important;
      max-width: 100%;
    }
  }

}

.looping {
  lost-column: 405/1100 0 20px;
  @media(--lg-up) {
    lost-column: 401/1100 0 20px;
  }
  video {
    width: 100%;
  }
}
