@use lost;

@import "base";

@mixin aspect-ratio($width: 835, $height: 441) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
}

.project_placeholder {
  position: relative;
  cursor: pointer;
  margin-bottom: 30px;
  height: 0;
  background-color: black;
  position: relative;

  @include aspect-ratio(); 
}

.placeholder_outer {
  height: 79.5%;
  border: 4px solid var(--color-radical-red);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  right: 0;

  @media(--md-down) {
    height: 78%;
  }
}

.placeholder_inner {
  position: relative;
  height: 100%;
  width: 100%;
}

.placeholder_box {
  left: center;
  top: center;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 0.75em;

  @media(--xl) {
    font-size: 1em;
  }

  @media(--md-down) {
    font-size: 0.55em;
  }
}

.headline {
  color: var(--color-radical-red);
  font-family: var(--primary-font-family);
  font-size: 3em;
  margin-bottom: 0.5em;
}

.subtitle {
  composes: subtitle from 'styles/mixins.css';
  font-family: var(--secondary-font-family);
  font-size: 2em;
  color: var(--color-tin);
  transition: all 0.4s ease-in-out;
}

.subtitle:hover {
  color: darken(rgb(128,128,128), 10%);
}
