@import 'base';
:global {
  .project-title-svg {
    text-align: center;
    width: 80%;
    margin: auto;

    @include media($xsmall-large-screen) {
      position: absolute;
      @include center(xy);
      top: 80%;
    }
    @include media(max-height 900px) {
      top: 80%;
    }
    @include media($large-screen-up) {
      //49% for 1440
      width: 60%;
    }

    &.single {
      @include media($xsmall-large-screen) {
        position: relative;
        @include transform(translate(0, 0));
        top: auto;
        left: auto;
      }
    }
    svg {
      width:100%;
      height: 100%;
      max-height: 132px;

      @include media($large-screen-up) {
        max-height: 168px;
      }
    }
  }
}
