.logo-ae {
  width: 191px;
  height: 100px;
}

.logo-carla-hall {
  width: 344px;
  height: 253px;
}

.logo-cartoon-network-std {
  width: 227px;
  height: 133px;
}

.logo-cartoon-network {
  width: 309px;
  height: 176px;
}

.logo-cinemax {
  width: 784px;
  height: 274px;
}

.logo-cnbc {
  width: 177px;
  height: 130px;
}

.logo-crackle {
  width: 1078px;
  height: 204px;
}

.logo-hbo {
  width: 422px;
  height: 174px;
}

.logo-hulu {
  width: 296px;
  height: 98px;
}

.logo-ilny-gray {
  width: 294px;
  height: 274px;
}

.logo-ilny-white {
  width: 294px;
  height: 274px;
}

.logo-syfy {
  width: 140px;
  height: 75px;
}

.logo-tnt {
  width: 103px;
  height: 103px;
}

.logo-trutv {
  width: 172px;
  height: 67px;
}

.logo-usa {
  width: 90px;
  height: 37px;
}

.logo-westminster {
  width: 302px;
  height: 139px;
}

.logo-wetv {
  width: 496px;
  height: 346px;
}

.logo-yahoo {
  width: 370px;
  height: 87px;
}


