@use lost;

.nav-height {
  height: var(--sizing-nav-height);
  min-height: 50px;
  max-height: 99.8px;
}

.nav_icon span:nth-child(1) {
  top: 0px;
}

.nav_icon span:nth-child(2),.nav_icon span:nth-child(3) {
  top: 8px;
}

.nav_icon span:nth-child(4) {
  top: 16px;
}

.nav_icon.open span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

.nav_icon.open span:nth-child(2) {
  transform: rotate(45deg);
}

.nav_icon.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 9px;
}

.nav_icon.open span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%;
}

.mobile_outer {
  position: relative;
  height: var(--sizing-nav-height);
  min-height: 50px;
  max-height: 99.8px;
  z-index: 101;
}
.nav_icon {
  width: 28px;
  height: 20px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.nav_icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--color-radical-red);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.nav_icon_ctr {
  top: center;
  right: calc(var(--sizing-frame-width));
}
.span_ctr {
  width:98%;
  margin: auto;
  position: relative;
  height: 100%;
}
.mobile {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  background-color: white;
  &_inner {
    height: 75vh;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    lost-flex-container: column;
    /* lost-align: middle-center; */
    /* top: var(--sizing-nav-height); */
    top: 0;
    left: 0;
    z-index: 100;
    height: 100vh;
    position: fixed;
    width: 100vw;
    background-color: white;
  }
}

.mobile_item_ctr {

  height: 80vh;
  top: center;
  left: center;
  width: 100%;
}

.link_ctr {
  lost-row: 1/5 0 0;
  text-align: center;
  lost-align: middle-center;
  &:hover {
    background: var(--color-radical-red);
    color: white;
    a {
      color: white;
    }
  }
  a {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 3em;
    font-weight: bold;
    line-height: 1.25em;
    font-family: var(--primary-font-family);
  }
}

.logo {
  composes: logo from './nav.css';
}
