:global {

  a.hoverline {
    position: relative;
    padding-bottom: 4px;
    &:after {
      content: ' →';
    }
  }
  a.hoverline:hover{
    color: #f12d5c;
    transition: all .3s ease;
  }
  a.hoverline:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 3px;
    border-bottom: 2px solid #f12d5c;
    visibility: hidden;
    width: 0px;
    transition: all .45s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  a.hoverline:hover:before {
    visibility: visible;
    opacity: 1;
    color: rgba(0,0,0,1);
    bottom: 0px;
    border-bottom: 2px solid #f12d5c;
    width: 100%;
  }

  a.hoverline.active {
    border-bottom:2px solid #f12d5c;
  }
}
