@use lost;
:global {
  .hoverline {
    position: relative;
    padding-bottom: 4px;
    &:after {
      content: ' →';
    }
  }

  .hoverline:hover {
    color: #f12d5c;
    transition: all .3s ease;
  }

  .hoverline:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 3px;
    border-bottom: 0px solid #f12d5c;
    visibility: hidden;
    width: 0px;
    transition: all .45s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .hoverline:hover:before {
    visibility: visible;
    opacity: 1;
    color: rgba(0,0,0,1);
    bottom: 0px;
    border-bottom: 0px solid #f12d5c;
    width: 100%;
  }

  .hoverline.active {
    border-bottom:0px solid #f12d5c;
  }
}

.nav-height {
  height: var(--sizing-nav-height);
  min-height: 50px;
  max-height: 99.8px;
}

/* LEFT AND RIGHT FRAME ELEMENTS */
  .frame {
    min-width: var(--sizing-min-frame-width);
    width: var(--sizing-frame-width); 
    max-width: 75px;
    height: 100vh;
    background-color: white;
    position: fixed;
    z-index: 12;
    top: 0;
  }

  .frame_right {
    composes: frame;
    right: 0;
  }

  .frame_left {
    composes: frame;
    left: 0;
  }

/* LEFT COLUMN OF NAV */

.nav_left {
  lost-column: 6/12 0 0;
  height: 100%;
  &_logo {
    cursor: pointer;
    margin-left: var(--sizing-frame-width);
    width: 6.5104vw;
    height: 6.5104vw;
    min-height: 60px;
    min-width: 60px;
    max-height: 125px;
    max-width: 125px;
    position: relative;

    svg {
      top: center;
      left: center;
    }
  }

  @media(--lg) {
    lost-column: 6/12 0 0;
  }
}

/* RIGHT COLUMN OF NAV */

.nav_right {
  height: 100%;
  lost-flex-container: row;
  lost-column: 6/12 0 0;

  @media (--lg) {
    lost-column: 6/12 0 0;
  }

  @media (--md-down) {
    display: none;
  }
}

.nav {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  &_innerDesktop {
    composes: nav-height;
    width: 100%;
    padding-left: var(--sizing-frame-width);
    padding-right: var(--sizing-frame-width);
    lost-flex-container: row;
  }

}

.twitter_link {
  compose: nav-height;
  lost-column: 1/6 0 0; 
  lost-align: middle-center;
}

.mobile {
  lost-flex-container: column;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  position: fixed;
  width: 100vw;
  background-color: white;
  &_inner {
    height: 75vh;
    width: 100%;
  }
}

.logo {
  cursor: pointer;
  width: 6.5104vw;
  height: 6.5104vw;
  min-height: 60px;
  min-width: 60px;
  max-height: 125px;
  max-width: 125px;
  position:absolute;
  top: 0;
  left: calc(var(--sizing-frame-width) * 2);
  background: var(--color-radical-red);

  z-index: 101;
  svg {
    overflow: visible;
    width: 90%;
    top: center;
    left: center;
  }
}

.site_nav {
  composes: nav-height;
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
