@import 'base';
:global {
  $paragraphBottomMargin: em(20);
  .form-paragraph {
    margin-bottom: $paragraphBottomMargin;
    padding-right: em(20);
    @include media($under-small) {
      font-size: 1.3em;
      max-width: 90%;
      text-align: center;
      margin: auto;
      margin-bottom: $paragraphBottomMargin/2;
    }
  }
  #connect-slide-map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  #connect-slide {
    .contact-form {
      margin-bottom: 0;
    }
    p {
      font-size: 1.75em;
      text-align: left;
    }
    .connect-headline {
      text-align: center;
      @include media($under-small) {
        font-size: 2em !important;
      }
    }

    .submit-btn-ctr {
      position: initial;
      bottom: auto;
      right: auto;
      width: 100%;
      text-align: center;
      button {
        text-align: center;
        color: $radical-red;
        font-size: 1.4em;
        &:hover {
          background-color: white;
        }
      }
    }
    textarea {
      height: em(100);
    }
    .newsletter {
      margin-top: 0;
      p {
        @extend .form-paragraph;
      }

    }

    .contact-form {
      p {
        @extend .form-paragraph;
      } 

    }
  }
}

:local {
  .connectSlide {
    width: 100%;
    background-color: rgb(87, 182, 154);
    position: absolute;
    top:0;
    bottom: 0;
  }

  .connectForm {
    height: 100%;
    position:absolute ;

    width: 100%;
  }

  .connectFormCtr {

    z-index: 3;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    // left: 50%;
    // transform: translateX(-50%);

    text-align: center;
  }

  .connectFormCtrInner {
    background: white;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: em(35);
    margin: auto;
    height: 100%;

    @include media($small-medium-screen) {
      width: 75%;
    }
    @include media($medium-screen-up) {
      width: 50%;
    }
  }



}
