// @import 'base';
// :global {
//   .connect-slide {
//     margin: auto;
//     height: 100vh;
//     background: white;
//     padding-top: $nav-height;
//     // .row {
//     //   @include center(y);
//     //   max-width: $outer-width;
//     //   @include media($under-medium) {
//     //     max-width: 80%;
//     //     @include center(xy);
//     //   }
//     // }
//     .connect-information {
//       @include media($under-medium) {
//         display: none;
//       }
//     }
//   }
//   .connect-inner-row {
//     .newsletter {
//       margin-top: em(20);
//     }
//   }
// }

@import 'base';

:global {
  
  $paragraphBottomMargin: em(40);

  .form-paragraph {
    margin-bottom: $paragraphBottomMargin;
    padding-right: em(20);
    @include media($under-small) {
      font-size: 0.7em;
      margin-bottom: $paragraphBottomMargin/2;
    }
    @include media($small) {
      // display: none !important;
    }
  }

  #connect-slide {
    .newsletter {
      margin-top: 0;
      p {
        @extend .form-paragraph;
      }

    }

    .contact-form {
      p {
        @extend .form-paragraph;
      } 

    }
  }

}
:local {

  .connectSlide {
    background-color: white;
    padding-top: $nav-height;
    max-width: $outer-width;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100vh;
    lost-flex-container: row;
    
  }
  
  .map {
    height: 40%;
    background-color: rgb(87, 182, 154);
    width: 100%;
    @include media($under-small) {
      height: 20%;
    }
  }

  .connectForm {
    lost-column: 1/2 0;
    @include media($under-small) {
      lost-column: 1;
    }
  }


}
