@use lost;

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(--color-alto);
  overflow: hidden;
}

.subtitle {
  composes: headline_subtitle from 'styles/mixins.css';
  z-index: 3;
  position: relative;

  text-align: center;

  @media(--lg-down) {
    font-size: 1rem;
  }
}

.inner {
  left: center;
  top: center;
  top: 52%;
  width: 81%;
}

.hiring {
  text-align: center;
  margin-top: 1em;

   @media(--sm) {
    margin-top: 1.5em;
  }
}

.hiring_title {
  position: relative;
}

.rule {
  max-width: 91%;
  height: 2px;
  background: white;
  width: 100%;
  z-index: 0;
  left: center;
  top: center;

  @media (--sm-down) {
    width: 100%;
  }
}

.hiring_copy {
  lost-center: 91%;
  margin-top: 1em;

  @media(--sm-down) {
    max-width: 100%;
  }

  p {
    font-size: 1.5rem;
    color: var(--color-slate-gray);

    @media (--lg-down) {
      font-size: 1.2rem;
    }
  }
}

.view_openings {
  margin-top: 0;
  text-align: center;
  width: 100%;

  a {
    font-family: var(--primary-font-family);
    font-size: 1.5em;
  }
}

.headline {
  composes: headline from 'styles/mixins.css';
  z-index: 1;
  position: relative;
  background-color: var(--color-alto);
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
  width: 100%;

  @media(--md-down) {
    font-size: 3.5em;
  }

  @media(--xs-down) {
    font-size: 2.5em;
  }
}

.hiring_headline {
  composes: headline;
  display: inline;
}
