@import 'base';
:global {
  .video-wrapper {
    position: relative;
    .wrap {
      @include center(xy);
      text-align: center;
      .featured-headline {
        color: white;
        font-size: 3.2em;
        @include media($small-medium-screen) {
          font-size: 7em;
        }
        @include media($medium-large-screen) {
          font-size: 9em;
        }
        @include media($large-screen-up) {
          font-size: 11em;
        }
        margin-bottom: 60px;
      }
      p {
        font-family: $gt;
        color: white;
        font-weight: bold;
        @include outer-container(14em);
        font-size: 1.475em;
        @include media($xsmall-small-screen) {

        }
        @include media($small-medium-screen) {
          font-size: 1.875em;
          @include outer-container(21em);
        }
        @include media($medium-large-screen) {
          font-size: 1.875em;
          @include outer-container(21em);
        }
        @include media($large-screen-up) {
          font-size: 2.15em;
          @include outer-container(20em);
        }

        &.view-services {
          font-size: 2em;
          @include media($medium-screen-up) {
            font-size: 2.5em;
          }
          text-decoration: underline;
          margin-top: em(20);
        }
      }
    }
    .video-overlay {
      @include size(100%);
      background: white;
      position: relative;
    }
  }

  .home-video {
    @include center(x);
    @include position(fixed, 0 0 0 50%);

    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    top: 0;
    left: 50%;
  }

  .scroll-down {
    @include center(xy);
    top: 94%;
    text-align: center;
    width: 100%;
    color: white;
    letter-spacing: 4px;
    font-size: 1.2rem;
    line-height: 1.2;
    .arrow {
      font-size: 1.5rem;
    }

  }

  .video-placeholder {
    @include size(100%);
    background-image: url('/assets/images/Glow_Home_Splash_Vertical.jpg');
    background-size: cover;
    background-position: bottom center;
  }
  .vid-box {
    width: 90%;
    max-width: 960px;
    @include center(xy);
    img {
      width: 100%;
    }
  }
}
