@use lost;

:global {
  #video-home-overlay {
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 140;
  }

  .video-overlay {
    width: 100%;
    height: 100%;
    background: black;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 137;
    visibility: hidden;
    opacity: 0;
  }

  .go-back {
    background-color: var(--color-radical-red);
    color: white;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    left: 30px;
    top: 10px;
    cursor: pointer;
    z-index: 99999999999;

    &:hover {
      color: var(--color-radical-red);
      background-color: white;
    }
  }


  .video-overlay-inner {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .reel-btns {
    lost-flex-container: row;
    width: 100%;
    margin: auto;
    margin-top: 40px;
    max-width: 600px;

    @media(--sm-down) {
      max-width: 70%;
      margin-top: 20px;
    }
  }

  .reel-btn {
    background-color: rgba(255, 255, 255, 0.75);
    color: var(--color-radical-red);
    cursor: pointer;
    padding: 15px 10px;
    lost-column: 1/2;
    font-size: 22px;
    font-weight: bold;

    @media(--sm-down) {
      lost-column: 1 0 0;
      margin-bottom: 10px;
      font-size: 18px;
    }

    &:hover {
      background-color: var(--color-radical-red);
      color: #fff;
    }
  }

  .reel-btn.inverse {
    color: rgba(255, 255, 255, 1);
    background-color: var(--color-radical-red);
  }
}

.featured_headline {
  color: black;
  font-size: 4.2em;
  margin-bottom: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.copy_wrap {
  text-align: center;
  top: center;
  left: center;
  width: 87%;
  max-width: 898px;

  p {
    font-family: var(--primary-font-family);
    width: 87%;
    margin: auto;
    color: white;
    font-weight: bold;
    font-size: 1.875em;
    line-height: 1.2;

    @media(--md-down) {
      font-size: 1.5em;
    }

    @media(--xs-down) {
      font-size: 1em;
    }
  }
}

.home_video {
  left: center;
  top: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.scroll_down {
  position: absolute;
  left: 50%;
  top: 94%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  color: white;
  letter-spacing: 4px;
  font-size: 1.2rem;
  line-height: 1.2;
  .arrow {
    font-size: 1.5rem;
  }

}

.video_placeholder {
  height: 100%;
  width: 100%;
  background-image: url('https://s3.amazonaws.com/weareglow-assets/assets/video/Glow_Website_Animatic_poster.jpg');
  background-size: cover;
  background-position: bottom center;
}

.video_intro {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
}
