@import 'base';
:local {

  .resultsInner {
    lost-center: 820px;
    @include media($under-medium) {
      margin-bottom: 2em;
    }
  }

  .resultsOuter {
    width: 100%;


  }

  .cnImage {
    margin-top: 70px;
    margin-bottom: 70px;
    width: 90%;
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;

  }

  .cnSingleImage {
    margin-left: auto;
    margin-right: auto;
  }

}

:global {
  .stat-description {
    text-align: center;
  }

  .stat-cn {
   lost-column: 2/6 0 0; 
   .stat-num {
    
     @include media($under-medium) {
       font-size: 2em;
     }
   }
  }

  .stat-cn-image {
    lost-column: 2/6 0 0;
  }


}
