@import 'base';
@use lost;

:local {

  .iframe {
    @media only screen and (min-width: 40.063em) {
      width: 810px;
      height: 110.875rem;
    }
    @media only screen and (max-width: 41.6875rem){
      width: 640px;
      height: 140.625rem;
      overflow: hidden;
    }

    overflow-y: scroll;
  }
  .cnButton {
    border-width: 2px;
    border-color: rgb(61, 160, 168);
    border-style: solid;
    width: 172px;
    height: 47px;
    margin-left: auto;
    margin-right: auto;
    line-height: 43px;
    font-size: 1.2em;
    color: rgb(61, 160, 168);
    text-align: center;
    cursor: pointer;

    &:hover {
      background: #d0d0c4;
    }
  }
  .resultsInner {
    lost-center: 820px;
    @include media($under-medium) {
      margin-bottom: 2em;
    }
  }

  .resultsOuter {
    width: 100%;
  }

  .cnImage {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90%;
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;

  }

  .cnSingleImage {
    margin-left: auto;
    margin-right: auto;
  }


  .cnButton {
    appearance: none;
    background-color: $action-color;
    border: 0;
    border-radius: $base-border-radius;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: $base-font-family;
    font-size: $base-font-size;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    // line-height: 1;
    text-decoration: none;
    transition: background-color $base-duration $base-timing;
    user-select: none;
    background-color: transparent;
    border: 2px solid #fcb823;
    &:hover, :focus {
      background-color: rgba(255,255,255,0.1) !important;
    }
  }

  .outerButton {
    lost-align: middle-center;
    margin-top: 4em;
  }

  .dancerRow {
    lost-flex-container: row;
    lost-center: 820px;
  }
  .dancer {
    lost-column: 1/3;
    margin-bottom: 1em;
  }
  .dancerImg {
    display: block;
    margin: auto;
  }
}

:global {

  .stat-description {
    text-align: center;
  }

  .stat-cn {
    lost-column: 2/6 0 0; 
    .stat-num {
      @include media($under-medium) {
        font-size: 2em;
      }
    }
  }
  .stat-cn-image {
    lost-column: 2/6 0 0;
  }
}
