@import 'base';

.slider-wrapper {
  @include position(absolute, 0 0 0 0);
}

.slider {
  @include size(100%);
  min-height: 100vh;
  .container-inner {
    @include size(100%);
    min-height: 100vh;
  }
  &-wrapper {
    overflow: hidden;
  }
  overflow: hidden;
}

.slide {
  @include position(absolute, null null null null);
  @include size(100%);

  &-wrap {
    height:100%;
    padding-top: 80px;
    padding-right: 5%;
    padding-left: 5%;
    @include media($large-screen-up) {
      padding-top: 7.5em;
    }
  }
}


