@import 'base';
:global {
  $connect-row-margin: rem(10);

  .contact-form-input {
    height: $input-field-height;
  }

  .contact-form {
    margin-bottom: $connect-row-margin;
    position: relative;

    p {
      // line-height: 1;
      margin-bottom: rem(55);
    }
    input {
      overflow: visible;
      position: relative;
      margin-bottom: 0;

      @extend .contact-form-input;
    }

    label {
      padding-left: 0.5em;
      color: $iron;
    }

    .contact-link {
      font-weight: normal;
    }

    $text-area-height: em(46);
    textarea {
      width: 100%;
      @include placeholder {
        color: $iron;
        font-size: 1.2em;
      }
      margin-bottom: 0;
      @extend .contact-form-input;
    }

    button {
      //background: transparent;
      font-family: $gt;
      font-size: 1.25em;
      border-radius: 0;
      font-weight: normal;
      color: $radical-red;
      width: 100%;
      background-color: transparent;
      @extend .contact-form-input;
      padding-right: 10px;
      &:hover {
        background: transparent;
      }
    }
    button:disabled {
      opacity: 1 !important;
    }

    .submit-btn-ctr {
      text-align: right;
      position: absolute;
      bottom: 7px;
      right: 0;
      @include media($under-medium) {
        right: 10px;
      }

    }

    .message {
      visibility: hidden;
      opacity: 0;
      text-align: center;
      lost-align: middle-center;
      width: 100%;
    }
  }

  .input-fields {
    @include cst-row();

    #name, #email {
      lost-column: 1/2;
      @include media($under-small) {
        lost-column: 1;
        margin-top: $connect-row-margin;
      }
    }


    #message {
      margin-top: $connect-row-margin;
      lost-column: 10/10 10 0;
    }
  }

  .connect-headline {
    margin-bottom: $connect-row-margin;
  }

}
