@import 'base';
:global {
  $connect-row-margin: rem(10);
  .contact-form, .newsletter {
    width: 97%;
  }
  .message-button-ctr {
    position: relative;
    @include outer-container(50%);
    color: white;
    button {
      margin-top: em(20);
      width: 80%;
    color: white !important;
    }
  }
  .message {
    position: absolute;
    top: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    width: 100%;
    button {
      color: white;
    }
  }
  .contact-form-input {
    height: $input-field-height;
  }

  .contact-form {
    margin-bottom: $connect-row-margin;
    position: relative;

    p {
      // line-height: 1;
      margin-bottom: rem(55);
    }
    input {
      overflow: visible;
      position: relative;
      margin-bottom: 0;

      @extend .contact-form-input;
    }

    label {
      padding-left: 0.5em;
      color: $iron;
    }

    .contact-link {
      font-weight: normal;
      padding-right: 15px;
    }

    $text-area-height: em(46);
    textarea {
      width: 100%;
      @include placeholder {
        color: $iron;
        font-size: 1.2em;
      }
      margin-bottom: 0;
      @extend .contact-form-input;
    }

    button {
      //background: transparent;
      font-family: $gt;
      font-size: 1.25em;
      border-radius: 0;
      font-weight: normal;
      width: 100%;
      background-color: transparent;
      @extend .contact-form-input;
      &:hover {
        background: transparent;
      }
      color: $radical-red;
    }
    button:disabled {
      opacity: 1 !important;
    }

    .submit-btn-ctr {
      width: 100%;
      text-align: right;
      button {
        width: 100%;
        text-align: right;
        padding-right: 0;
        &:hover {
          background-color: transparent;
        }
      }
      // text-align: right;
      // position: absolute;
      // bottom: 7px;
      // right: 0;
      // @include media($under-medium) {
      //   right: 10px;
      // }
    }
  }

  .input-fields {
    @include cst-row();

    #name, #email {
      lost-column: 1/2;
      @include media($under-small) {
        lost-column: 1;
        margin-top: $connect-row-margin;
      }
    }


    #message {
      margin-top: $connect-row-margin;
      lost-column: 10/10 10 0;
    }
  }

  .connect-headline {
    margin-bottom: $connect-row-margin;
  }

  .message-button-ctr {
    button {
      background-color: $radical-red !important;
    }
  }
}
