@import 'base';
:global {

  div.error {
    input {
      background: transparentize($radical-red, 0.8);
    }
  }
  .newsletter {
    position: relative;
    @include outer-container(100%);
    .contact-headline {
      margin-bottom: 0.5em !important;
      text-align: center;
      @include media($medium-screen-up) {
        text-align: left;
      }
    }

    input {
      height: $input-field-height;
      padding-right: 10px;
      border-left: none;
      border-right: none;
      border-top: none;
      padding-right: 0;
      position: relative;
      right: -1px;
    }
    button {
      height: $input-field-height;
      background: $radical-red;
      color: white;
      font-size:1.25rem;
      border-radius: 0;
      text-align: center;
      position: relative;
      right: 25px;
      padding: 0 !important;
      .inner-btn {
        lost-align: middle-center;
      }

      position: absolute;
      top: 0;
      color: $radical-red;

      background: transparent;
      &:disabled {
        opacity: 1;
      }
      &:hover {
        background: transparent;
      }
    }
    .message {
      visibility: hidden;
      opacity: 0;
      text-align: center;
      button {
        color: white;
      }

      .message-button-ctr {
        position: relative;
        @include outer-container(50%);
        button {
          width: 100%;
        }
      }
    }

    .form, .newsletter-form {
      position: relative;
      div {
        width: 100%;
      }
    }
  }
}
