@use lost;

:global {

}

.newsletter_form {
  position: relative;
  width: 100%;
}

div.error {
  input {
    background: var(--color-radical-red);
  }
}
.newlsetter_copy {
  margin-bottom: 20px;
  font-family: var(--primary-font-family);
  color: var(--color-storm-dust);
  font-weight: 600;
  letter-spacing: 0;
  font-size: 1.25em;
  line-height: 1.5;
}

.contact_headline {
  color: var(--primary-headline-color);
  font-family: var(--primary-font-family);
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 0.5em !important;
  text-align: center;

  @media(--md) {
    text-align: left;
  }

}

.newsletter {
  position: relative;
  width: 100%;

  button {
    height: 46px;
    background: var(--primary-headline-color);
    color: white;
    font-size:1.25rem;
    border-radius: 0;
    text-align: center;
    position: relative;
    right: 25px;
    padding: 0 !important;
    position: absolute;
    top: 0;
    color: var(--primary-headline-color);
    background: transparent;

    .inner-btn {
      lost-align: middle-center;
    }

    &:hover, &:focus {
      background: transparent !important;
      color: var(--primary-headline-color);
    }

    &:disabled {
      opacity: 1;
    }

    &:hover {
      background: transparent;
    }

  }

  .message {
    position: absolute;
    top: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    width: 100%;

    button {
      color: white;
    }
  }

  .form, .newsletter-form {
    position: relative;
    div {
      width: 100%;
    }
  }
}

.newsletter_input {
  height: 46px;
  padding-right: 10px;
  border-left: none;
  border-right: none;
  border-top: none;
  padding-right: 0;
  position: relative;
  right: -1px;
}
