@use postcss-autoreset;

.submit_btn_ctr {
  width: 100%;
  text-align: right;
  button {
    all: initial;
    width: 100%;
    font-family: var(--primary-font-family);
    color: var(--color-radical-red);
    cursor: pointer;
    text-align: right;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 1em;
    &:hover {
      background-color: transparent;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}
