@use lost;
:global {
  .full-width-bg {
    width: 100%;
    min-height: 50vh;
    background-size: cover;
    background-position: center center;
    margin-top: var(--sizing-section-margin);
  }

  .section_headline {
    margin-top: 3%;
  }
  .study_headline {
    position: relative;
    font-family: var(--primary-font-family);
    font-weight: bold;
    font-size: 5em;
    margin-bottom: 30px;
    letter-spacing: -2px;
    text-align: center;
    @media(--md-down) {
      font-size: 3.5em;
    }
    @media(--sm-down) {
      font-size: 3em;
    }
  }

  .inner_section {
    margin-top: var(--sizing-section-margin);
    margin-bottom: var(--sizing-section-margin);
  }
  .case-bg {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }
  .study-content {
    height: 100%;
    width: 100%;
    position: relative;

    /* IMAGES */
    .img-single {
      margin-left: auto;
      margin-right: auto;
      width: 1100px;
      max-width: 90%;
    /* @media screen and (width >= 500px) and (width <= 1200px) { */
    /*   max-width: 10px; */
    /* } */


      @media(--md-down) {
        max-width: 85%;
      }
    }

    .image-large {
      lost-center: 820px;
      background-position: center center;
      img {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      @media(--md-down) {
        display: block;
        max-width: var(--sizing-outer-width);
      }
    }
    .image-container-large {
      lost-center: 1100px;
      max-width: var(--sizing-outer-width);
      lost-flex-container: row;

      @media (--md-down) {
        lost-center: var(--sizing-outer-width);
      }

      div {
        lost-column: 1/3 3 1em;
        @media(--sm-down) {
          lost-column: 1 0 0;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 15px;

          img {
            @media(--sm-down) {
              display: block;
              margin: auto;
            }
          }

        } 
      }
      p {
        margin-left:auto;
        margin-right: auto;
        text-align: left;
        font-family: var(--primary-font-family);
        font-weight: 300;
        line-height: 2;
        font-size: 1.15em;
        -webkit-font-smoothing: antialiased;

        @media(--md) {
          font-size: 1.3em;
          line-height: 2.4rem;
        }
        .link {
          color: #c03d3b;
        }
      }

      h1, h2 {
        text-align: center;
        color: white;
      }

      .page-title {
        font-size: 3em;
        @media(--sm) {
          font-size: 4em !important;
        }
        @media(--md) {
          font-size: 5em !important;
        }
        @media(--lg) {
          font-size: 5em !important;
        }

        &.small {
          max-width: 820px;
          font-size: 2.5em !important;
        }
      }
    }

    .copy-inner {
      lost-center: 820px;
      @media (--copy-max) {
        max-width: var(--sizing-outer-width);
      }
      p {
        margin-top: 1em;
        &:first-of-type {
          margin-top: 0;
        }
      }

      /* margin-top: 40px; */
      /* margin-bottom: 40px; */
      p {
      }
    }
  }
}

.study_overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  background: rgba(0,0,0,0.4);
}

.overlay_info {
  transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
  width: 100%;
  position: absolute;
}

.study_headline_subtitle {
  font-family: var(--secondary-font-family);
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  position: relative;

  @media (--sm-down) {
    top: -20px;
  }
  @media (--md) {
    font-size: 1.5em;
  }
}

.study_intro_container {
  height: 60%;
  width: 100%;

  @media(--md) {
    height: 73%;
  }
}

.case_study_single_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}


.study_content_wrapper {
  position: relative;
  width: 100%;
}
.study_content_mask {
  transform: rotate(-8deg);
  margin-top: -70px;
  position: absolute;
  top: 0;
  right: -25%;
  left: -25%;
  height: 400px;
  bottom: 0;

  @media(--md) {
    margin-top: -178px;
  }

}

/* .study-headline { */
/*   margin-bottom: 30px; */
/*   @include media($medium-screen-up) { */
/*     margin-bottom: 60px; */
/*   } */
/* } */

/* .social { */
/*   // margin-bottom: em(140); */
/*   width: 100%; */

/*   h1 { */
/*     margin-top: 0; */
/*   } */
/* } */

/* .study-top-mask { */
/*   width: 100%; */
/*   height: 100%; */
/* } */


/* .study-top-mask-container { */
/*   height:240px; */
/* } */

/* .img-ctr { */
/*   @include outer-container(900px); */
/*   @include padding(null 2.5% null 2.5%); */
/* } */

/* .sound-cloud { */
/*   @include span-columns(6); */
/*   @include omega(2n); */
/*   img { */
/*     width: 100%; */
/*   } */
/* } */

/* .end { */
/*   position: relative; */
/*   svg { */
/*     display: block; */
/*     height: 100%; */
/*   } */
/*   .copy { */
/*     width: 100%; */
/*     height: 100%; */
/*     @include clearfix; */
/*   } */
/*   .copy-inner { */
/*     position: relative; */
/*     top: -400px; */
/*     margin-bottom: -300px; */
/*     @include media($xsmall-medium-screen) { */
/*       top: -200px; */
/*       margin-bottom: -100px; */
/*     } */
/*     h2 { */
/*       margin-top: rem(20); */
/*       @include media($medium-screen-up) { */
/*         margin-top: rem(30); */
/*         margin-bottom: rem(30); */
/*       } */
/*     } */
/*     img { */
/*       width: 100%; */
/*     } */
/*   } */
/* } */

/* .end-shape { */
/*   @include size(100%); */
/*   display: block; */
/* } */

/* .media { */
/*   position: relative; */

/*   p { */
/*     margin-bottom: 100px; */
/*   } */
/* } */

/* .full-width-img { */
/*   @include span-columns(12); */
/*   margin-bottom: 30px; */
/*   img { */
/*     width: 100%; */
/*   } */
/* } */

/* .half-width-img { */
/*   @include span-columns(6); */

/*   img { */
/*     width: 100%; */
/*   } */
/* } */

/* .end-img { */
/*   max-width: 90%; */
/*   margin: auto; */
/* } */


/* .case-bg-img { */
/*   @include size(100%); */
/*   @include center(xy); */
/* } */

/* .full-width-bg { */
/*   width: 100%; */
/*   min-height: 50vh; */
/*   background-size: cover; */
/*   background-position: center center; */
/* } */


/* .video-campaign, #social { */
/*   margin-top: em(40); */
/* } */


/* .social-strategy { */
/*   padding-top: em(40); */
/* } */

/* .end { */
/*   // position: absolute; */
/*   // bottom: -5%; */
/*   width: 100%; */
/*   z-index: 1; */
/*   .img-single { */
/*     img { */
/*       display: block; */
/*       margin: auto; */
/*     } */
/*     position: absolute; */
/*     left: 50%; */
/*     transform: translateX(-50%); */
/*   } */
/* } */

/* .img-single { */
/*   margin: auto; */
/*   max-width:  1100px; */
/*   margin-bottom: 1em; */
/*   @include media($under-medium) { */
/*     max-width: 85%; */
/*   } */
/*   position: relative; */
/*   z-index: 2; */
/* } */

/* .img-triple { */
/*   lost-flex-container: row; */
/*   lost-center: 58%; */
/*   position: relative; */
/*   z-index: 2; */
/*   div { */
/*     lost-column: 1/3; */
/*   } */
/* } */
/* .strategy, .media-campaign { */
/*   position: relative; */
/* } */


